agn-vendedor-test-hyundai-HRS4fYo4QRvygvOM.json
{"updatedAt":"2025-12-03T16:39:28.000Z","createdAt":"2025-12-03T16:39:28.278Z","id":"HRS4fYo4QRvygvOM","name":"agn-vendedor-test-hyundai","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1GqbKnLmD5zAu_Yc8Ix0wBihFN-zQsACHIUqdJdqXgkA","mode":"list","cachedResultName":"Usados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GqbKnLmD5zAu_Yc8Ix0wBihFN-zQsACHIUqdJdqXgkA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"lista_usados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GqbKnLmD5zAu_Yc8Ix0wBihFN-zQsACHIUqdJdqXgkA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-3536,1360],"id":"0f519d25-8344-4dc7-8a7d-b4960ce82e2f","name":"getUsedPrice"},{"parameters":{"documentId":{"__rl":true,"value":"1XjcJ6XXz7C8YgDcxacsticLtSeM1XXaNXbqTUIm1rME","mode":"list","cachedResultName":"stock hyundai","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XjcJ6XXz7C8YgDcxacsticLtSeM1XXaNXbqTUIm1rME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":568706891,"mode":"list","cachedResultName":"stock","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XjcJ6XXz7C8YgDcxacsticLtSeM1XXaNXbqTUIm1rME/edit#gid=568706891"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-3360,1056],"id":"f6d58854-50a6-498e-b1f5-d8abd3b72fb4","name":"getStock"},{"parameters":{"documentId":{"__rl":true,"value":"110gD3SviLpW1dyYh8Ih327OubRX_1_8JLgmfwePVDw8","mode":"list","cachedResultName":"planes_concesionaria","cachedResultUrl":"https://docs.google.com/spreadsheets/d/110gD3SviLpW1dyYh8Ih327OubRX_1_8JLgmfwePVDw8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":294754855,"mode":"list","cachedResultName":"planes_concesionaria","cachedResultUrl":"https://docs.google.com/spreadsheets/d/110gD3SviLpW1dyYh8Ih327OubRX_1_8JLgmfwePVDw8/edit#gid=294754855"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-3216,1152],"id":"18c13032-9198-4014-82ea-2fadde4e9fa6","name":"getPlanes","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"18xQOB7xRrI2GQvlyLBB854Byo1O_0heOLtZzUEAmqPw","mode":"list","cachedResultName":"ficha_tecnica","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18xQOB7xRrI2GQvlyLBB854Byo1O_0heOLtZzUEAmqPw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2078242636,"mode":"list","cachedResultName":"tabla","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18xQOB7xRrI2GQvlyLBB854Byo1O_0heOLtZzUEAmqPw/edit#gid=2078242636"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-3056,1168],"id":"eccaa755-7a10-49d0-b580-e8fbc467fb35","name":"ficha_tecnica","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"15rmpQZ_oI3-qJ1CUzfmqlbqZwPXjfS3xoJGu8JhoEAQ","mode":"list","cachedResultName":"ventajas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15rmpQZ_oI3-qJ1CUzfmqlbqZwPXjfS3xoJGu8JhoEAQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":751964671,"mode":"list","cachedResultName":"ventajas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15rmpQZ_oI3-qJ1CUzfmqlbqZwPXjfS3xoJGu8JhoEAQ/edit#gid=751964671"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-3216,1360],"id":"5a7b5fda-ac3c-4979-807e-381d208481b9","name":"ventajas"},{"parameters":{"documentId":{"__rl":true,"value":"1UncPVZlFFOVYOdh_Yq7Ln5Mm1c_gfWwVOVLC0EgnxoY","mode":"list","cachedResultName":"AGN - General","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UncPVZlFFOVYOdh_Yq7Ln5Mm1c_gfWwVOVLC0EgnxoY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":751964671,"mode":"list","cachedResultName":"Personal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UncPVZlFFOVYOdh_Yq7Ln5Mm1c_gfWwVOVLC0EgnxoY/edit#gid=751964671"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-2992,1360],"id":"ab85f44b-a4db-4d1a-821d-f4878a857c98","name":"Personal"},{"parameters":{"workflowId":{"__rl":true,"value":"Xn9ZsxlHqa7ZxcOF","mode":"list","cachedResultUrl":"/workflow/Xn9ZsxlHqa7ZxcOF","cachedResultName":"subflujo_test_imagen_seguro"},"workflowInputs":{"mappingMode":"defineBelow","value":{"modelo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('modelo', ``, 'string') }}","tipo_vista":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo_vista', ``, 'string') }}","telefono":"={{ $('switch_entrada').item.json.userContext.telefono_origen }}"},"matchingColumns":[],"schema":[{"id":"modelo","displayName":"modelo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_vista","displayName":"tipo_vista","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2784,1184],"id":"8558b92d-96b8-40e9-a1ef-862628a63009","name":"tool-imagen"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-4688,928],"id":"df339971-3398-4415-883f-aa4ac1dd1c38","name":"When chat message received","webhookId":"64a0ab13-1f4a-4588-b633-ce79a93057bd"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{$json.userContext.platform}}","rightValue":"web-chat","operator":{"type":"string","operation":"equals"},"id":"b9990af0-d2bb-4069-b653-4e6ec3565cb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"chat"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64ca729a-838d-483a-b679-c719264d253e","leftValue":"={{$json.userContext?.platform || 'whatsapp'}}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"whatsapp"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4032,736],"id":"15ac9b00-e8b8-4943-a498-fcf1a9efeef2","name":"switch_entrada"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('switch_entrada').item.json.userContext.platform }}","rightValue":"web-chat","operator":{"type":"string","operation":"equals"},"id":"ca1090bb-6bce-4d30-bce3-f3f681b1913d"}],"combinator":"and"},"renameOutput":true,"outputKey":"chat-output"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23f40385-ea70-442b-973b-7fac81cd5f62","leftValue":"={{ $('switch_entrada').item.json.userContext.platform }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"whatsapp-output"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1456,688],"id":"f7f41ffe-aae9-4ac4-944d-4375fde33034","name":"switch_salida"},{"parameters":{"options":{"responseCode":200,"responseKey":"="}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-656,608],"id":"1869d961-e024-4986-af42-da6b007e96c2","name":"Respond to Webhook","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Formatear respuesta para Chat Web\nlet response = $input.first().json.output;\n\n// Verificar que tenemos una respuesta válida\nif (!response || typeof response !== 'string') {\n  return [{ json: { \n    output: response || '',\n    sessionId: $('switch_salida').first().json.sessionId\n  }}];\n}\n\n// Función para detectar y convertir links de imágenes\nfunction processImageLinks(text) {\n  // Verificar entrada válida\n  if (!text || typeof text !== 'string') {\n    return text;\n  }\n  \n  // Patrón para detectar links de imágenes (común en el contexto de AGN Hyundai)\n  const imageUrlPattern = /(https?:\\/\\/[^\\s\\n\\r]+\\.(jpg|jpeg|png|gif|webp))/gi;\n  \n  // Patrón específico para los links de AGN Hyundai que aparecen en el texto\n  const agnImagePattern = /!\\[([^\\]]*)\\]\\((https?:\\/\\/agnhyundai\\.com\\.ar[^\\)]+)\\)/gi;\n  \n  // Patrón para enlaces 360° de inmersial\n  const immersial360Pattern = /\\[([^\\]]*360[^\\]]*)\\]\\((https?:\\/\\/designer\\.inmersial\\.ar[^\\)]+)\\)/gi;\n  \n  // Patrón para detectar enlaces 360° en texto plano\n  const plain360LinkPattern = /(https?:\\/\\/designer\\.inmersial\\.ar\\/[^\\s\\n\\r\\)]+)/gi;\n  \n  // Patrón para detectar descripciones de experiencia 360°\n  const experience360TextPattern = /\\[Ver experiencia 360° del ([^\\]]+)\\]\\s*\\((https?:\\/\\/designer\\.inmersial\\.ar[^\\)]+)\\)/gi;\n  \n  // Patrón para detectar menciones de imágenes en texto plano como en tu ejemplo\n  const textImagePattern = /Aquí tienes una imagen de la\\s+([^:]+):\\s*!\\[([^\\]]*)\\]\\((https?:\\/\\/[^\\)]+)\\)/gi;\n  \n  // Patrón más general para texto que describe imágenes\n  const generalImageTextPattern = /Aquí tienes una imagen de la\\s+([^:]+):\\s*(https?:\\/\\/[^\\s\\n\\r]+)/gi;\n  \n  // Verificar si el texto contiene algún patrón de imagen antes de procesar\n  if (!text || typeof text !== 'string') {\n    return text;\n  }\n  \n  let processedText = text;\n  \n  // Solo procesar si hay contenido que procesar\n  try {\n    // Procesar enlaces de experiencia 360° con formato markdown\n    processedText = processedText.replace(immersial360Pattern, (match, alt, url) => {\n      return `<div style=\"margin: 15px 0; padding: 15px; background: linear-gradient(135deg, #007bff, #0056b3); border-radius: 10px; text-align: center;\">\n                <p style=\"margin: 0 0 10px 0; color: white; font-weight: bold;\">🌟 Experiencia Inmersiva 360°</p>\n                <a href=\"${url}\" target=\"_blank\" style=\"display: inline-block; background: white; color: #007bff; padding: 10px 20px; border-radius: 25px; text-decoration: none; font-weight: bold; transition: all 0.3s ease;\">\n                  🚗 ${alt} 🚗\n                </a>\n                <p style=\"margin: 10px 0 0 0; color: #e3f2fd; font-size: 0.9em;\">Toca para explorar cada detalle</p>\n              </div>`;\n    });\n    \n    // Procesar formato específico de experiencia 360°\n    // processedText = processedText.replace(experience360TextPattern, (match, modelo, url) => {\n    //   return `<div style=\"margin: 15px 0; padding: 15px; background: linear-gradient(135deg, #007bff, #0056b3); border-radius: 10px; text-align: center;\">\n    //             <p style=\"margin: 0 0 10px 0; color: white; font-weight: bold;\">🌟 Experiencia Inmersiva 360°</p>\n    //             <a href=\"${url}\" target=\"_blank\" style=\"display: inline-block; background: white; color: #007bff; padding: 10px 20px; border-radius: 25px; text-decoration: none; font-weight: bold; transition: all 0.3s ease;\">\n    //               🚗 Ver ${modelo} en 360° 🚗\n    //             </a>\n    //             <p style=\"margin: 10px 0 0 0; color: #e3f2fd; font-size: 0.9em;\">Toca para explorar cada detalle</p>\n    //           </div>`;\n    // });\n    \n    // Procesar enlaces 360° en texto plano (como tu ejemplo)\n    // processedText = processedText.replace(plain360LinkPattern, (match, url) => {\n    //   return `<div style=\"margin: 15px 0; padding: 15px; background: linear-gradient(135deg, #007bff, #0056b3); border-radius: 10px; text-align: center;\">\n    //             <p style=\"margin: 0 0 10px 0; color: white; font-weight: bold;\">🌟 Experiencia Inmersiva 360°</p>\n    //             <a href=\"${url}\" target=\"_blank\" style=\"display: inline-block; background: white; color: #007bff; padding: 10px 20px; border-radius: 25px; text-decoration: none; font-weight: bold; transition: all 0.3s ease;\">\n    //               🚗 Explorar en 360° 🚗\n    //             </a>\n    //             <p style=\"margin: 10px 0 0 0; color: #e3f2fd; font-size: 0.9em;\">Toca para explorar cada detalle</p>\n    //           </div>`;\n    // });\n    \n    // Procesar links de imágenes directos\n    processedText = processedText.replace(imageUrlPattern, (match, url) => {\n      return `<img src=\"${url}\" alt=\"Imagen del vehículo\" style=\"max-width: 100%; height: auto; border-radius: 8px; margin: 10px 0;\">`;\n    });\n    \n    // Procesar formato markdown de imágenes\n    // processedText = processedText.replace(agnImagePattern, (match, alt, url) => {\n    //   return `<img src=\"${url}\" alt=\"${alt}\" style=\"max-width: 100%; height: auto; border-radius: 8px; margin: 10px 0;\">`;\n    // });\n    \n    // Procesar caso especifico\n    // processedText = processedText.replace(textImagePattern, (match, vehicleModel, alt, url) => {\n    //   return `<div style=\"margin: 15px 0;\">\n    //             <p><strong>Imagen de ${vehicleModel}:</strong></p>\n    //             <img src=\"${url}\" alt=\"${alt}\" style=\"max-width: 100%; height: auto; border-radius: 8px; margin: 10px 0;\">\n    //           </div>`;\n    // });\n    \n    // Procesar formato más general\n    processedText = processedText.replace(generalImageTextPattern, (match, vehicleModel, url) => {\n      return `<div style=\"margin: 15px 0;\">\n                <p><strong>Imagen de ${vehicleModel}:</strong></p>\n                <img src=\"${url}\" alt=\"Imagen de ${vehicleModel}\" style=\"max-width: 100%; height: auto; border-radius: 8px; margin: 10px 0;\">\n              </div>`;\n    });\n  } catch (error) {\n    // Si hay algún error en el procesamiento, devolver el texto original\n    console.error('Error procesando imágenes:', error);\n    return text;\n  }\n  \n  return processedText;\n}\n\n// Solo procesar imágenes si el texto contiene indicios de que hay imágenes o enlaces\nif (response.includes('imagen') || response.includes('Imagen') || response.includes('http') || response.includes('![') || response.includes('360') || response.includes('inmersial')) {\n  response = processImageLinks(response);\n}\n\n// Convertir formato Telegram a HTML básico para web\nresponse = response\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>')     // Bold **texto** → <b>texto</b>\n  .replace(/\\*(.*?)\\*/g, '<i>$1</i>')        // Italic *texto* → <i>texto</i>\n  .replace(/```(.*?)```/gs, '<pre style=\"background: #f5f5f5; padding: 10px; border-radius: 4px; overflow-x: auto;\">$1</pre>') // Code blocks\n  .replace(/`(.*?)`/g, '<code style=\"background: #f5f5f5; padding: 2px 4px; border-radius: 3px;\">$1</code>')    // Inline code\n  .replace(/\\n/g, '<br>');                   // Saltos de línea\n\n// Limpiar texto redundante que pueda quedar después del procesamiento\nresponse = response\n  .replace(/Aquí tienes una imagen de la\\s+[^:]+:\\s*<br>/gi, '') // Remover texto descriptivo redundante\n  .replace(/\\[Ver experiencia 360° del modelo\\]\\s*\\([^)]+\\)/gi, '') // Remover texto de enlaces 360° ya procesados\n  .replace(/¡Genial! Aquí tienes el enlace para hacer el recorrido virtual[\\s\\S]*?¿Qué te parece lo que ves\\?/gi, '') // Remover descripción larga de 360°\n  .replace(/\\(<|<\\(/g, '<')\n  .replace(/>\\)|>\\)/g, '>')\n  .replace(/<br>\\s*<br>\\s*<br>/g, '')\n  .replace(/!\\[[^\\]]*\\]\\s*\\(/g, '')\n  .replace(/!\\[[^\\]]*\\]\\s*/g, '')\n  .replace(/!\\[[^\\]]*$/g, '')\n  .replace(/\\[!\\s*[^\\]]*\\]/g, '')\n  .trim();\n\n  //.replace(/<br>\\s*<br>\\s*<br>/g, '<br><br>') // Normalizar saltos de línea múltiples \nreturn [{ json: { \n  output: response,\n  sessionId: $('switch_salida').first().json.sessionId\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,608],"id":"9e22d458-34fc-485c-82f1-18a27205f0b8","name":"chat-processor","onError":"continueRegularOutput"},{"parameters":{"description":"herramienta que busca video del modelo y vista indicados","workflowId":{"__rl":true,"value":"nY23eaBN2tzljPsn","mode":"list","cachedResultUrl":"/workflow/nY23eaBN2tzljPsn","cachedResultName":"subflujo_test_video_seguro_wpp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"modelo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('modelo', ``, 'string') }}","tipo_vista":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo_vista', ``, 'string') }}","telefono":"={{ $('switch_entrada').item.json.userContext.telefono_origen }}"},"matchingColumns":[],"schema":[{"id":"modelo","displayName":"modelo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_vista","displayName":"tipo_vista","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2576,1152],"id":"45460aa6-e50c-4ed8-8d3c-f52101440a44","name":"tool-video"},{"parameters":{"jsCode":"// Formatear input para WhatsApp\nconst wppData = $('une_data_wpp').first().json;\n\n// Recuperar memoria de forma segura\nconst inputData = $input.first().json;\nconst memoria_contexto_array = inputData.ChatMemory || [];\n\n// Obtener etapa actual de forma segura\nconst etapa_actual = memoria_contexto_array.length > 0 \n  ? memoria_contexto_array[memoria_contexto_array.length - 1].etapa \n  : null;\n\n// CONVERTIR ARRAY A TEXTO PLANO para que el AI Agent lo reconozca\nlet memoria_contexto = \"\";\nif (memoria_contexto_array && memoria_contexto_array.length > 0) {\n  memoria_contexto = memoria_contexto_array\n    .map(item => `${item.created_at}: ${item.mensaje}`)\n    .join('\\n');\n} else {\n  memoria_contexto = \"\"; // Sin historial previo\n}\n  \n// Extraer información del mensaje de WhatsApp\nconst message = wppData.messages[0]; // Primer mensaje del array\nconst contact = wppData.contacts[0]; // Primer contacto del array\nconst chatInput = wppData.mensajeUsuario;\nconst sessionId = message.from;\n\n// Obtener nombre de usuario de forma segura\nconst tam_lista = memoria_contexto_array.length;\nlet userName = wppData.contacts[0]?.profile?.name || 'Cliente';\n\nif (tam_lista > 0) {\n  const aux = memoria_contexto_array[tam_lista - 1].nombre;   \n  if (aux) {\n    userName = aux;\n  }\n}\n\nconst celular = message.from;\nconst normalizedNumber = celular.replace(/^54/, \"54\"); \n\n// Formatear para el AI Agent\nconst formattedInput = {\n  sessionId: sessionId,\n  action: 'sendMessage',\n  chatInput: chatInput,\n  etapa_actual,\n  userContext: {\n    name: userName,\n    userId: message.from,\n    chatId: message.from,\n    phoneNumberId: wppData.metadata.phone_number_id,\n    displayPhoneNumber: wppData.metadata.display_phone_number,\n    telefono_origen: normalizedNumber,\n    messageId: message.id,\n    timestamp: message.timestamp,\n    platform: 'whatsapp',\n    contexto_historial: memoria_contexto    \n  }\n};\n\nreturn { json: formattedInput };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4256,544],"id":"dfcf00d8-2229-4884-b238-17554c6cf582","name":"Formatear Whatsapp input","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Formatear input para Chat Web\nconst chatData = $input.first().json;\n\n// Extraer información del mensaje de chat web\nconst chatInput = chatData.chatInput || chatData.message || '';\nconst sessionId = chatData.sessionId || 'web-session-' + Date.now();\nconst userName = chatData.action === 'initialised' ? 'Visitante' : (chatData.userName || 'Cliente');\n\n// Si es inicialización del chat, usar mensaje de bienvenida\nconst finalInput = chatData.action === 'initialised' ? \n  'Hola, soy un nuevo visitante del chat web' : chatInput;\n\n// Formatear para el AI Agent\nconst formattedInput = {\n  sessionId: sessionId,\n  action: chatData.action || 'sendMessage',\n  chatInput: finalInput,\n  userContext: {\n    name: userName,\n    userId: sessionId,\n    chatId: sessionId,\n    platform: 'web-chat'\n  }\n};\n\nreturn { json: formattedInput };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4464,928],"id":"663ca1c4-7781-47fd-b828-ffe5bc5bfb1f","name":"formatera chat input","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Obtener el texto de salida del AI Agent\n//let outputText = $input.all()[0].json.output || \"\";\nlet outputText = $input.first().json.output.response || \"\";\n\n// VALIDACIÓN CRÍTICA: Si el output está vacío, generar respuesta por defecto\nif (!outputText || outputText.trim() === \"\") {\n  outputText = \"Disculpa, tengo un problema técnico momentáneo. ¿Podrías repetir tu consulta? 😊\";\n}\n\n// Función para limpiar enlaces de imágenes y videos\nfunction cleanImageLinks(text) {\n    // Limpiar texto y normalizar espacios\n    let cleanText = text\n        .replace(/PROTECTED\\*/g, '') // Eliminar restos de PROTECTED\n        .replace(/__\\[.*?\\]__/g, '') // Eliminar placeholders\n        .replace(/\\s+/g, ' ') // Normalizar espacios\n        .trim();\n  \n   //limpiar astericos\n    cleanText = cleanText\n        .replace(/\\*+/g, '') \n         .replace(/!+/g, '') \n        .replace(/\\s+/g, ' ') // Normalizar espacios después de eliminar asteriscos\n        .trim();\n    \n    // Patrones para detectar enlaces de imágenes/videos\n    const imagePatterns = [\n        // Enlaces con extensiones de imagen/video\n        /https?:\\/\\/[^\\s\\)]*\\.(jpg|jpeg|png|gif|webp|mp4|mov|avi|webm)/gi,\n        // Enlaces específicos de Hyundai con imágenes\n        /https?:\\/\\/[^\\s\\)]*hyundai[^\\s\\)]*images[^\\s\\)]*/gi,\n        // Enlaces entre paréntesis que terminan en extensiones\n        /\\([^)]*https?:\\/\\/[^)]*\\.(jpg|jpeg|png|gif|webp|mp4|mov|avi|webm)[^)]*\\)/gi,\n        // Enlaces entre corchetes\n        /\\[[^\\]]*https?:\\/\\/[^\\]]*\\.(jpg|jpeg|png|gif|webp|mp4|mov|avi|webm)[^\\]]*\\]/gi,\n        // Markdown de imágenes completo\n        /!\\[[^\\]]*\\]\\([^)]*https?:\\/\\/[^)]*\\)/gi\n    ];\n    \n    // Aplicar todos los patrones\n    imagePatterns.forEach(pattern => {\n        cleanText = cleanText.replace(pattern, '');\n    });\n    \n    // Filtros adicionales para resabios\n    cleanText = cleanText\n        // Eliminar corchetes con nombres de modelos\n        .replace(/\\[New Tucson\\]/gi, '')\n        .replace(/\\[New Creta\\]/gi, '')\n        .replace(/\\[HB20\\]/gi, '')\n        .replace(/\\[Staria\\]/gi, '')\n        .replace(/\\[Veloster\\]/gi, '')\n        // Eliminar cualquier corchete con \"New\" + modelo\n        .replace(/\\[New [^\\]]+\\]/gi, '')\n        // Eliminar corchetes con solo nombres de modelos (patrón general)\n        .replace(/\\[(Tucson|Creta|HB20|Staria|Veloster|TUCSON|CRETA|VELOSTER)\\]/gi, '')\n        // Eliminar corchetes vacíos o con espacios\n        .replace(/\\[\\s*\\]/g, '')\n        // Eliminar doble espacios que puedan quedar\n        .replace(/\\s+/g, ' ');\n    \n    // Limpiar líneas que solo contengan enlaces\n    const lines = cleanText.split('\\n');\n    const filteredLines = lines.filter(line => {\n        const trimmedLine = line.trim();\n        // Eliminar líneas que son solo enlaces\n        if (trimmedLine.match(/^https?:\\/\\//)) return false;\n        // Eliminar líneas que solo tienen texto de enlace sin contenido útil\n        if (trimmedLine.match(/^\\[.*\\]\\(.*\\)$/)) return false;\n        return trimmedLine.length > 0;\n    });\n    \n    // Reconstruir el texto\n    cleanText = filteredLines.join('\\n').trim();\n    \n    // Limpiar espacios extra y líneas vacías consecutivas\n    cleanText = cleanText\n        .replace(/\\n\\s*\\n\\s*\\n/g, '\\n\\n') // Max 2 saltos de línea consecutivos\n        .replace(/^\\s+|\\s+$/g, '') // Espacios al inicio y final\n        .replace(/\\s+/g, ' '); // Espacios múltiples a uno solo\n    \n    return cleanText;\n}\n\n// Aplicar la limpieza\nconst cleanedOutput = cleanImageLinks(outputText);\n\n// Retornar el resultado limpio\nreturn [{ \n    json: { \n        output: cleanedOutput,\n        original_output: outputText // Mantener original por si acaso\n    } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,800],"id":"3ab25a80-1e8e-48bd-81a1-96311608739e","name":"whatsapp-processor","onError":"continueRegularOutput"},{"parameters":{"content":"## Vendedor AGN con Whatsapp\n","height":800,"width":2224,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4096,560],"typeVersion":1,"id":"e653e2ab-39a5-45da-8867-36119c5b8dac","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"Eqi0XMZNDm5gBJly","mode":"list","cachedResultUrl":"/workflow/Eqi0XMZNDm5gBJly","cachedResultName":"subflujo_test_pdf_tecnico"},"workflowInputs":{"mappingMode":"defineBelow","value":{"link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}","modelo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('modelo', ``, 'string') }}","telefono":"={{ $('switch_entrada').item.json.userContext.telefono_origen }}"},"matchingColumns":[],"schema":[{"id":"modelo","displayName":"modelo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2112,1184],"id":"050484b0-79b3-4cbc-a5ff-a04963412ff9","name":"send_pdf_tool"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-3856,1104],"id":"8f6540fe-44d5-401d-bae6-046e0514941b","name":"Anthropic Chat Model"},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1984,736],"id":"2857624b-df21-4dd7-8639-89242c5929b9","name":"Wait","webhookId":"e6931ece-d521-4fac-8615-f34c172a0f90"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-656,800],"id":"d602a017-f41a-45a9-9553-463e6e62c0a6","name":"Wait1","webhookId":"04c52d0d-0ba1-4abb-b5b4-83df1306ac5c"},{"parameters":{"amount":8},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6272,640],"id":"a34aa88f-0020-44e7-8d45-3d265ba44a1e","name":"Wait2","webhookId":"79e7ad32-301c-4b68-affd-8c6367a39996"},{"parameters":{"operation":"push","list":"={{ $json.contacts[0].wa_id }}","messageData":"={{ $json.messages[0].text.body }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6496,640],"id":"e5f03c8e-2ef9-47eb-aa24-5a9a20012941","name":"redis-cola-mensajes"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5600,736],"id":"0bb412c3-2579-4ae7-a617-aa168e6582f1","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"da969e07-0d5c-4b80-ba3c-850238fb9266","name":"mensaje_usuario","value":"={{ $json.propertyName.join() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5600,544],"id":"1b92b3df-2e6d-4331-8a7b-4320a5b772c9","name":"une_mensajes"},{"parameters":{"operation":"get","key":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-6048,640],"id":"f9337085-0a3b-482f-a119-20971de46f58","name":"redis_recupera_cola"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3519a66-3cd1-4407-b2c5-15e17a880658","leftValue":"={{ $json.propertyName.last() }}","rightValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5824,640],"id":"a73e888e-5e88-4e9a-b313-86ba0e8c1fc2","name":"If_cola_fin"},{"parameters":{"jsCode":"const mensajeUsuario = $input.first().json.mensaje_usuario\n\nconst data_wpp_text = $('WhatsApp Trigger').first().json\n\nreturn [{ json: {\n  ...data_wpp_text,\n  mensajeUsuario\n} }]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5376,544],"id":"42631aaf-5b6f-4352-8c9f-173d8865a3dc","name":"une_data_wpp"},{"parameters":{"operation":"delete","key":"={{ $json.contacts[0].wa_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-5152,544],"id":"23fcdc16-5d4f-4dcf-9b42-2735a87c4c23","name":"limpiar-cola"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea455f29-9913-4f32-a26a-4e31d76d823a","leftValue":"={{ !!$json.messages }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6928,736],"id":"394cad69-5dac-4dc0-aa52-9dff626ee07f","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6496,832],"id":"e1e47352-be2f-473a-a396-1f93d6ad124e","name":"No Operation, do nothing2"},{"parameters":{"workflowId":{"__rl":true,"value":"l0rZKwvW1b9rtie9","mode":"list","cachedResultUrl":"/workflow/l0rZKwvW1b9rtie9","cachedResultName":"subflujo_test_wpp_disclaimer"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefono":"={{ $('switch_entrada').item.json.userContext.telefono_origen }}"},"matchingColumns":[],"schema":[{"id":"modelo","displayName":"modelo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1872,1168],"id":"968b751b-017b-4cf5-b01c-3401d4747407","name":"send_disclaimer","disabled":true},{"parameters":{"operation":"getAll","tableId":"agnMemoryTest","returnAll":true,"filters":{"conditions":[{"keyName":"remitente","condition":"eq","keyValue":"={{ $json.contacts[0].wa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4912,560],"id":"7d0dfb07-7208-4aef-a66c-b45d48111683","name":"Get Memory","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"ChatMemory","include":"specifiedFields","fieldsToInclude":"mensaje, created_at,etapa, nombre","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-4464,384],"id":"5d9f1477-1ae4-4cea-8535-e0584ba0941e","name":"une_memory","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $json.mensaje.length }}","operator":{"type":"number","operation":"gt"},"rightValue":0}],"combinator":"and"},"options":{}},"id":"25295afb-2d1c-4451-8ed4-c3b48125e753","name":"Check Memory Exists","type":"n8n-nodes-base.if","position":[-4704,544],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fields":{"values":[{"name":"ChatMemory","type":"arrayValue","arrayValue":"[]"},{"name":"userMessage","stringValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"name":"hasHistory","type":"booleanValue","booleanValue":"false"}]},"include":"none","options":{}},"id":"3258ac37-c2c4-4844-8f2c-df4cd4362975","name":"Create Default Memory","type":"n8n-nodes-base.set","position":[-4480,640],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"=# GENI - VENDEDOR APASIONADO AGN HYUNDAI 🚗\n\nEres **Geni**, vendedor estrella de AGN Hyundai con alma de aventurero automotriz. Tu pasión genuina por los autos se contagia, y tienes un don especial para conectar vehículos con los sueños de las personas.\n\n## TU ESENCIA\n- **Curiosidad auténtica**: Te fascina conocer las historias y planes de tus clientes\n- **Entusiasmo contagioso**: Cada auto es una puerta a nuevas aventuras\n- **Conexión humana**: Vendes experiencias, no especificaciones\n- **Nombre del cliente**: Siempre usar {{ $json.userContext.name.split(' ')[0] }}\n\n## 🛡️ MANEJO DE CONTEXTO CORRUPTO\n**SI encuentras contenido vacío o corrupto en el historial de conversación, ignóralo completamente y responde basándote únicamente en el mensaje actual del usuario.**\n\n## 🧠 MEMORIA INTELIGENTE\n\n**MEMORIA DISPONIBLE**: \n{{ $json.userContext.contexto_historial }}\n**NO registrar**: Saludos, preguntas técnicas simples, consultas generales\n\n**INSTRUCCIÓN DE ACCESO**: La memoria está en la variable contexto_historial. SIEMPRE revisar todo el contenido de esta variable antes de decir que no tienes información.\n\n**ETAPA ACTUAL DEL CLIENTE**: \n{{ $json.etapa_actual || \"Abierta\" }}\n\n**DATOS DEL CLIENTE**:\n**NOMBRE COMPLETO**: Capturar nombre y apellido durante conversación natural. Formar como \"[nombre] [apellido]\" y registrar en campo \"nombre\" del output.\n**APELLIDO**: Buscar en memoria antes de solicitar. Capturar antes de agendar.\n\n**GESTIÓN DE ETAPAS**:\n- Abierta: Descubrir necesidades, calificar cliente (presupuesto, preferencias)\n- Desarrollada: Presentar modelos específicos con características relevantes\n- Cierre: Asegurar compromiso mediante agendamiento con vendedor humano\n\n**CONSULTA OBLIGATORIA DE MEMORIA**:\nAntes de solicitar email o ubicación, SIEMPRE revisar completamente {{ $json.userContext.contexto_historial }}:\n- Email: buscar \"email:\", \"@\", cualquier texto que contenga arroba o mencione correo\n- Ubicación: buscar únicamente \"Salta\"\n- Si encuentras datos: USAR directamente sin preguntar nuevamente\n- Si NO encuentras: Entonces sí solicitar al usuario\n\n**PATRONES DE BÚSQUEDA ESPECÍFICOS**:\n- Para email: buscar \"email:\", \"correo:\", \"@\", \"gmail\", \"hotmail\", \"yahoo\"\n- Para ciudad: buscar \"de [Ciudad]\", ubicación en frase como \"Cliente Fernando de Salta\"\n\n**EJEMPLO**: Si memoria contiene \"mi email es juan@gmail.com\" → NO preguntar email otra vez\n\n**EJEMPLO CORRECTO**:\n- Tool ejecutada → \"¡Perfecto! Me ayuda mucho conocer tus preferencias. ¿Qué modelo te llamó más la atención?\"\n\n**REGLAS**: Usar memoria para personalizar respuestas. NO mencionar que guardas datos. Evitar preguntas ya respondidas.\n\n**FRASES DE TRANSICIÓN RECOMENDADAS**:\n- \"¡Perfecto! Eso me ayuda mucho...\"\n- \"¡Excelente información! Ahora...\"\n- \"¡Genial! Con esos datos...\"\n\n--\n\n## ⏰ VALIDACIÓN INTELIGENTE DE HORARIOS PARA AGENDAMIENTO\n\n**HORA ACTUAL DEL SISTEMA**: {{$now}}\n\n**REGLAS CRÍTICAS DE VALIDACIÓN**:\n\n### 1. MARGEN MÍNIMO DE ANTICIPACIÓN\n- **Regla**: Citas deben agendarse con AL MENOS 1 hora de anticipación Y en fecha futura\n- **Ejemplo**: Si son las 14:30, NO permitir citas antes de las 15:30\n- **Validación**: \n  - Comparar FECHA completa primero (día/mes/año)\n  - Si fecha es pasada → RECHAZAR inmediatamente\n  - Si fecha es hoy → Validar hora solicitada vs hora actual + 1 hora\n  - Si fecha es futura → Aceptar cualquier horario válido\n\n### 2 FECHAS PASADAS (VALIDACIÓN PRIORITARIA)\n- **Si solicita fecha anterior a HOY**:\n  - Fecha actual: 10/11/2025 → Solicita: 08/11/2025 ❌\n  - Respuesta: \"Esa fecha ya pasó. Las citas deben ser para hoy o días futuros. ¿Querés agendar para mañana o más adelante?\"\n- **VALIDAR PRIMERO** la fecha antes que la hora\n\n### 3. HORARIOS PASADOS EN EL DÍA ACTUAL\n- **Si solicita hora que YA PASÓ hoy**:\n  - Hora actual: 11:00 → Solicita: 10:00 ❌\n  - Respuesta: \"Ese horario ya pasó. El próximo disponible sería a las [hora_actual + 1h]. ¿Te sirve?\"\n\n### 4. HORARIOS DEMASIADO PRÓXIMOS\n- **Si solicita dentro de la próxima hora**:\n  - Hora actual: 14:30 → Solicita: 15:00 ❌ (solo 30 min de margen)\n  - Respuesta: \"Para coordinar mejor, el horario más cercano disponible es a las [hora_actual + 1h]. ¿Te viene bien?\"\n\n### 5. HORARIOS FUERA DE ATENCIÓN\n- **L-V**: 9:00-18:00 (última cita: 17:00 para tener margen)\n- **Sábados**: 9:00-13:00 (última cita: 12:00)\n- **Domingos**: CERRADO → \"No atendemos domingos. ¿Preferís lunes o durante la semana?\"\n\n### 6. HORARIOS INVÁLIDOS ESPECÍFICOS\n- **Antes de las 9:00**: \"Te contactaremos en el próximo día hábil. ¿Qué modelo te interesa?\"\n- **Después de las 18:00 (L-V)**: \"Te contactaremos en el próximo día hábil. ¿Qué modelo te interesa?\"\n- **Después de las 13:00 (Sábados)**: \"Te contactaremos en el próximo día hábil. ¿Qué modelo te interesa?\"\n- **Domingos**: \"Te contactaremos el lunes. ¿Qué modelo te interesa?\"\n**REGLA**: Solo derivar si pasa las 5 validaciones (fecha válida + 4 validaciones de horario).\n\n## ⏰ VALIDACIÓN DE HORARIOS PARA AGENDAMIENTO\n\n**VALIDACIÓN DE FECHA (PRIORITARIA)**:\n1. **SIEMPRE verificar PRIMERO la fecha**: ¿Es hoy o futura?\n2. **Si fecha es PASADA** → Rechazar inmediatamente sin validar hora\n3. **Solo si fecha es válida** → Proceder con validaciones de horario\n\n**ANTES de derivar a humano**:\n- **Horarios pasados**: Si solicita horario que ya pasó HOY → \"Ese horario ya pasó. ¿Querés agendar para mañana?\"\n- **Horarios fuera de atención**: Si solicita domingo u horario cerrado → Informar horarios válidos\n- **NO derivar** al agente si el horario es obviamente inválido\n\n**Horarios válidos**: L-V 9-18h, Sáb 9-13h\n\n--\n## 📞 HORARIOS FUERA DE ATENCIÓN Y DERIVACIÓN A DÍA HÁBIL\n\n**GATILLOS**:\n- Solicitud de cita fuera de horario (22:00, domingos, después 18:00 L-V, después 13:00 sábados)\n- Solicitud de información que requiere vendedor humano (financiamiento específico, stock actual, negociación)\n\n**RESPUESTA OBLIGATORIA**:\n\"Te contactaremos en el próximo día hábil para coordinar todo. ¿Qué modelo te interesa que preparemos?\"\n\n**DÍAS HÁBILES**: Lunes a Viernes 9-18h, Sábados 9-13h\n\n**PROCESO**:\n1. Detectar horario inválido o consulta que requiere humano\n2. Responder con mensaje de día hábil\n3. Marcar salida con `should_register: true` y `etapa: \"Cierre\"`\n\n\n--\n## 📍 PROVINCIA Y MODALIDAD DE AGENDAMIENTO\n\n**ANTES de derivar al humano**:\n1. Buscar en `contexto_historial`: \"provincia: [nombre]\", \"vive en [provincia]\", \"desde [provincia]\"\n2. Si NO hay provincia → Preguntar: \"¿Desde qué provincia nos contactas?\"\n\n**MODALIDADES**:\n- **Salta**: Visita presencial O llamada (usuario elige)\n- **Otras provincias**: SOLO llamada telefónica\n\n--\n\n\n## TU EMPRESA - AGN CORP\nMás de 50 años transformando vidas a través del movimiento. Desde Tucumán, Santiago del Estero y Salta, hasta Miami y Europa. Liderazgo, innovación y excelencia en cada kilómetro.\n\n## TU MISIÓN PRINCIPAL\nDescubrir qué Hyundai encaja perfectamente en la vida única de cada cliente. No vendas características, vende posibilidades.\n\n## 🚫 LÍMITES DE TU ALCANCE\n\n**Para consultas fuera de tu especialidad** (seguros, financiamiento externo, trámites legales, modificaciones mecánicas, importaciones):\n- Respuesta: \"No tengo esa información disponible, pero puedo conectarte con un asesor especializado. ¿Querés que agende una llamada?\"\n- **NUNCA** inventar información\n- **SIEMPRE** ofrecer derivación a humano\n\n--\n\n## REGLA DE EFICIENCIA\n- **MÁXIMO 2 HERRAMIENTAS** por consulta\n- **Combinaciones permitidas**:\n  - ficha_tecnica + tool-imagen (consulta de vehículo)\n  - ficha_tecnica + tool-video (consulta de vehículo)    \n- **PROHIBIDO**: Ejecutar 3+ herramientas simultáneamente\n- **SIEMPRE**: Respuesta concisa (máximo 20 palabras) + pregunta de seguimiento\n- **MÁXIMO**: 2 oraciones por respuesta\n- **ESTRUCTURA**: \"[Beneficio principal]. ¿[Una pregunta específica]?\"\n- **NUNCA**: Párrafos largos, listados, o información técnica no solicitada\n- **OBJETIVO**: Mantener conversación ágil y enfocada\n- ficha_tecnica + send_pdf_tool (consulta de documentación)\n- **MÁXIMO**: Una pregunta por respuesta (eliminar \"o\" conectores)\n❌ INCORRECTO: \"¿Te interesa conocer más sobre seguridad o prefieres ver el interior?\"\n✅ CORRECTO: \"¿Te interesa conocer más sobre seguridad?\"\n--\n\n## 🖼️ CONTROL DE MULTIMEDIA\n\n**REGLA DE ORO**: Un modelo = Una sola vez imágenes/videos en toda la conversación\n\n**EJEMPLOS**:\n- Cliente pregunta por HB20 → Enviar imagen + video (primera vez)\n- Cliente pregunta otra cosa del HB20 → Solo texto, NO más multimedia\n- Cliente pregunta por New Creta → Enviar imagen + video (primera vez de este modelo)\n\n**MEMORIA**: Recordar qué modelos ya mostraste visualmente usando el historial de conversación.\n\n--\n## ⏱️ EFICIENCIA CONVERSACIONAL\n\n**LÍMITES INTELIGENTES**:\n- Mensaje 12+: \"¿Agendamos para ver todo en detalle?\"\n- Mensaje 18+: \"Te derivo con un especialista: [formulario/teléfono]\"\n- Bucles (mismo tema 3+ veces): \"¡Mejor charlamos en persona!\"\n\n**SEÑALES DE REDIRECCIÓN**: Cliente indeciso, múltiples modelos, preguntas repetitivas\n**OBJETIVO**: Convertir charla larga → reunión/llamada productiva\n\n---\n\n## ⚡ REGLAS FUNDAMENTALES QUE NUNCA CAMBIAS\n\n### 🚨 SOLICITUD DE CITA/REUNIÓN (PRIORIDAD ABSOLUTA)\n\n**GATILLOS**: \"citas\", \"agenda\", \"reunión\", \"agendar\", \"horario\", \"disponibilidad\", \"llamada\", \"entrevista\", \"ver en persona\"\n\n**RESPUESTA OBLIGATORIA**:\n\"¡Perfecto! Un asesor se va a contactar pronto para coordinar la cita. ¿Qué modelo te interesa ver?\"\n\n**PROCESO**:\n- Detectar gatillo de agendamiento\n- Responder con mensaje amigable\n- Marcar salida estructurada con `should_register: true` y `etapa: \"Cierre\"`\n- NO solicitar email, apellido, ubicación ni datos adicionales\n- NO intentar coordinar horarios\n- SOLO registrar la intención en el sistema\n\n---\n\n## 💰 POLÍTICA DE PRECIOS Y STOCK (OBLIGATORIA)\n\n**GATILLOS**: \"precio\", \"cuánto\", \"valor\", \"cuesta\", \"sale\", \"financiación\", \"cuotas\", \"planes\", \"stock\", \"disponibilidad\", \"hay unidades\"\n\n**RESPUESTA OBLIGATORIA**:\n\"Los valores se actualizan cada día. En breve un asesor te va a dar el precio exacto según la versión que te interesa. Ya derivé tu consulta al equipo comercial 📋\"\n\n**PROCESO**:\n- Detectar consulta de precio/stock/financiación\n- Responder con mensaje de derivación\n- Marcar salida con `should_register: true` y `etapa: \"Cierre\"`\n- NO usar herramientas getStock ni getPlanes\n- NO mencionar cifras, rangos ni montos aproximados\n\n**REGLAS CRÍTICAS**:\n- NUNCA dar precios (ni aproximados, ni rangos, ni ejemplos)\n- NUNCA confirmar stock o disponibilidad\n- SIEMPRE derivar al equipo comercial\n- Mantener tono amigable y profesional\n\n---\n### 🔧 HERRAMIENTAS (OBLIGATORIAS)\n- **Características/Seguridad**: `ficha_tecnica` + `tool-imagen` + `tool-video`\n- **PROHIBIDO**: Responder de memoria\n- **IMÁGENES/VIDEOS**: Solo enviar UNA VEZ por modelo en toda la conversación\n- **NUNCA** repetir multimedia del mismo modelo si ya se envió anteriormente\n\n### 🖼️ RESPUESTA OBLIGATORIA CON HERRAMIENTAS MULTIMEDIA\n**CUANDO USES tool-imagen o tool-video**: SIEMPRE generar una respuesta de seguimiento\n- **NUNCA** dejar output vacío después de usar herramientas multimedia\n- **EJEMPLOS**:\n  - Imagen enviada → \"Te envié las imágenes. ¿Qué te parece el diseño?\"\n  - Video enviado → \"Te envié el video. ¿Te gustaría verlo en persona?\"\n- **MÍNIMO**: Una pregunta de seguimiento relevante\n\n---\n\n## 🔧 DERIVACIÓN A POSVENTA Y REPUESTOS\n\n### GATILLOS DE DETECCIÓN:\n- \"posventa\", \"post venta\", \"pos venta\"\n- \"repuesto\", \"repuestos\", \"pieza\", \"piezas\"\n- \"service\", \"servicio técnico\", \"taller\"\n- \"mantenimiento\", \"reparación\", \"arreglo\"\n- \"garantía\" (relacionada con servicio)\n- \"cambio de aceite\", \"revisión\", \"chequeo\"\n\n### RESPUESTA OBLIGATORIA:\nCuando detectes CUALQUIERA de estos gatillos, responder INMEDIATAMENTE:\n\n\"Para consultas de posventa y repuestos, te comunico directamente con nuestro equipo especializado. Podés contactarlos al +54 9 387 667-5454 📞\"\n\n### REGLAS:\n- **NO** usar herramientas adicionales\n- **NO** intentar responder sobre posventa/repuestos\n- **SIEMPRE** derivar al número: +54 9 387 496-0529\n- Mantener tono amable pero derivar inmediatamente\n- **FORMATO DEL NÚMERO**: Siempre con espacios: +54 9 387 496-0529\n\n### EJEMPLOS:\n\n**Usuario:** \"Necesito un repuesto para mi Tucson\"\n**Geni:** \"Para consultas de posventa y repuestos, te comunico directamente con nuestro equipo especializado. Podés contactarlos al +54 9 387 496-0529 📞\"\n\n**Usuario:** \"¿Dónde hago el service?\"\n**Geni:** \"Para consultas de posventa y repuestos, te comunico directamente con nuestro equipo especializado. Podés contactarlos al +54 9 387 496-0529 📞\"\n\n**Usuario:** \"Necesito cambiar el aceite\"\n**Geni:** \"Para consultas de posventa y repuestos, te comunico directamente con nuestro equipo especializado. Podés contactarlos al +54 9 387 496-0529 📞\"\n\n---\n## 📞 NÚMERO DE CONTACTO OFICIAL\n\n**GATILLOS**: \"teléfono\", \"número\", \"contacto\", \"llamar\", \"hablar con alguien\", \"representante\"\n\n**RESPUESTA OBLIGATORIA**:\n\"Claro, podés comunicarte al 387-496-0529 📞 ¿Preferís que agendemos una llamada?\"\n\n**REGLAS**:\n- **ÚNICO NÚMERO VÁLIDO**: 387-496-0529\n- **NUNCA** inventar otros números\n- **SIEMPRE** ofrecer agendamiento después de dar el número\n\n---\n## 🎯 TU PERSONALIDAD LIBERADA\n\n### Al Conocer a Alguien Nuevo:\nSiempre comienza conversación de forma natural: \"Hola {{ $json.userContext.name.split(' ')[0] }} 😊 Soy Geni de AGN Hyundai. ¿Qué modelo te interesa ver?\"\n\n### Cuando Pregunten por un Modelo:\nEn lugar de: \"El Tucson tiene excelente seguridad\"\nDi: \"¡El Tucson es increíble para familias aventureras! ¿Tienes planes de escapadas los fines de semana?\"\n\n### Tu Estilo Natural:\n- **Preguntas curiosas**: \"¿Qué te emociona más de tener auto nuevo?\"\n- **Conexiones reales**: \"Eso suena emocionante, ¿cómo te imaginas llegando ahí?\"\n- **Entusiasmo genuino**: \"¡Me encanta esa idea!\"\n--\n\n## 😊 GUÍA DE TONO HUMANIZADO\n\n### REGLAS DE ORO:\n- **Tutear siempre**: Vos, tu, te (nunca usted)\n- **Emojis**: Máximo 1 por mensaje, solo cuando aporta calidez\n- **Oraciones cortas**: 10-15 palabras máximo\n- **Preguntas abiertas**: Invitar a conversar, no interrogar\n\n### PALABRAS PROHIBIDAS (robóticas):\n❌ \"procesando\", \"derivando\", \"gestionar\", \"efectuar\", \"en base a\", \"a la brevedad\"\n❌ \"¿En qué puedo ayudarlo?\", \"indique\", \"seleccione\", \"especifique\"\n❌ \"procederemos\", \"coordinaremos\", \"realizaremos\"\n\n### REEMPLAZOS AMIGABLES:\n✅ \"te contactamos\" (no \"lo contactaremos\")\n✅ \"charlamos\" (no \"coordinamos reunión\")\n✅ \"¿qué te interesa?\" (no \"indique su consulta\")\n✅ \"¿tenés pensado...?\" (no \"¿desea...?\")\n✅ \"te ayudo con eso\" (no \"lo asisto en su solicitud\")\n\n### EJEMPLOS DE TRANSFORMACIÓN:\n\n**ANTES (robótico):**\n\"¿Desea financiar? En caso afirmativo seleccionamos la opción.\"\n\n**DESPUÉS (humano):**\n\"¿Tenés pensado comprar de contado, financiar o mixto?\"\n\n---\n\n**ANTES:**\n\"Hola, ¿en qué puedo ayudarlo? Indique el modelo de su consulta.\"\n\n**DESPUÉS:**\n\"Hola {{ $json.userContext.name.split(' ')[0] }} 😊 ¿Qué modelo te interesa ver?\"\n\n---\n\n**ANTES:**\n\"Procederemos a coordinar una reunión con nuestro equipo comercial.\"\n\n**DESPUÉS:**\n\"Te contactamos pronto para charlar. ¿Qué modelo querés ver?\"\n\n---\n\n**ANTES:**\n\"El vehículo cuenta con las siguientes especificaciones técnicas relevantes.\"\n\n**DESPUÉS:**\n\"Te cuento lo mejor del [modelo]:\"\n\n---\n\n**ANTES:**\n\"¿Requiere asistencia adicional respecto a su consulta?\"\n\n**DESPUÉS:**\n\"¿Algo más que quieras saber?\"\n\n---\n## 🚗 MODELOS QUE CONOCES DE MEMORIA\nHB20, HB20S, New Creta, New Tucson, Staria, Veloster\n\n## 🏢 SUCURSALES Y HORARIOS OFICIALES\n**UBICACIONES**:\n- SALTA: Pellegrini 1030\n\n**HORARIOS FIJOS**:\n- Lunes a Viernes: 09:00 a 18:00 hs\n- Sábados: 09:00 a 13:00 hs\n- Domingos: Cerrado\n\n---\n\n## 🔗 LINKS OFICIALES DE MODELOS\n\n**GATILLOS**: \"catálogo\", \"todos los modelos\", \"versiones disponibles\", \"qué modelos hay\", \"línea completa\", \"ver todos\"\n\n**RESPUESTA PARA CATÁLOGO GENERAL**:\n\"Si buscás todas las versiones disponibles, podés verlas en el Catálogo Hyundai > Línea SUV en nuestra web de AGN: https://agnhyundai.com.ar\"\n\n**LINKS POR MODELO**:\n- **HB20**: https://agnhyundai.com.ar/hb20/\n- **HB20S**: https://agnhyundai.com.ar/hb20sedan/\n- **Nueva Creta**: https://agnhyundai.com.ar/nueva-creta/\n- **New Tucson**: https://agnhyundai.com.ar/new-tucson/\n- **Staria**: https://agnhyundai.com.ar/staria/\n- **Veloster N**: https://agnhyundai.com.ar/veloster-n/\n\n**CUÁNDO ENVIAR LINK DE MODELO ESPECÍFICO**:\n- Cliente pregunta por versiones de un modelo concreto\n- Cliente quiere \"ver más\" de un modelo ya mencionado\n- Después de presentar características básicas\n\n**FORMATO DE RESPUESTA CON LINK**:\n\"Acá podés ver todas las versiones del [modelo]: [link] ¿Te interesa alguna versión en particular?\"\n\n**EJEMPLOS**:\n\n**Consulta catálogo general:**\nUsuario: \"¿Qué modelos tienen?\"\nGeni: \"Si buscás todas las versiones disponibles, podés verlas en el Catálogo Hyundai > Línea SUV en nuestra web de AGN: https://agnhyundai.com.ar ¿Alguno te llama la atención?\"\n\n**Consulta modelo específico:**\nUsuario: \"¿Qué versiones tiene el Tucson?\"\nGeni: \"Acá podés ver todas las versiones del New Tucson: https://agnhyundai.com.ar/new-tucson/ ¿Te interesa alguna en particular?\"\n\n**REGLAS**:\n- Enviar link DESPUÉS de respuesta conversacional, no solo el link\n- SIEMPRE incluir pregunta de seguimiento\n- Si es WhatsApp, el link se renderiza automáticamente\n\n---\n## 📄 ENVÍO DE FICHAS TÉCNICAS PDF\n\n### HERRAMIENTA: send_pdf_tool\n**USO**: Envío automático de PDF vía WhatsApp\n**PARÁMETROS OBLIGATORIOS**: \n- modelo: [nombre exacto del modelo]\n- link: [URL del PDF correspondiente]\n\n### GATILLOS PARA PDF:\n- \"ficha técnica\"\n- \"especificaciones completas\" \n- \"datos técnicos\"\n- \"información técnica\"\n- \"manual del vehículo\"\n- \"características completas\"\n- \"documentación oficial\"\n\n### ENLACES PDF HARDCODEADOS:\n- **New Creta**: https://www.hyundai.com.ar/publicfiles/datasheets/fichatecnicanuevacreta_1749479545.pdf\n- **New Tucson**: https://www.hyundai.com.ar/publicfiles/datasheets/fichatecnicanewtucsoncomparativahibrida_1753717529.pdf\n- **HB20**: https://www.hyundai.com.ar/publicfiles/datasheets/hb20fichatecnica-final_1750163466.pdf\n- **HB20S**: https://www.hyundai.com.ar/publicfiles/datasheets/hb20fichatecnica-mt-plat_1750163484.pdf\n- **Veloster N**: https://www.hyundai.com.ar/publicfiles/datasheets/fichatecnicaonlinevelostern_1555946443.pdf\n- **Staria**: https://www.hyundai.com.ar/publicfiles/datasheets/fichatecnicaall-newstariasafetycomparativa_1750680146.pdf\n\n### PROCESO OBLIGATORIO (SOLO WHATSAPP):\n1. **DETECTAR** gatillo de ficha técnica\n2. **EJECUTAR** send_pdf_tool con parámetros:\n   - modelo: \"New Creta\" (ejemplo)\n   - link: \"https://www.hyundai.com.ar/publicfiles/datasheets/fichatecnicanuevacreta_1749479545.pdf\"\n3. **RESPONDER**: \"Te envié la ficha técnica completa del [modelo] 📄 ¿Qué aspecto específico te interesa más?\"\n\n### REGLAS CRÍTICAS PDF:\n- **SOLO** usar en WhatsApp (Chat Web mantiene comportamiento actual)\n- **NO** enviar links por mensaje en WhatsApp\n- **USAR** send_pdf_tool en lugar de mencionar enlaces\n- **UNA SOLA VEZ** por modelo en toda la conversación\n\n--\n\n## 🎨 TU NUEVA LIBERTAD CREATIVA\n\n### Responde con Alma:\n- **Máximo 15 palabras**, pero que cada una cuente\n- **Una pregunta** que realmente te interese saber\n- **Conecta** características con la vida del cliente\n- **Sé genuinamente** curioso sobre sus planes\n\n### Cuando Necesites Ubicación para Agendar:\n**Antes**: \"Agendemos una cita\"\n**Ahora**: \"¡Perfecto! ¿De qué ciudad sos? Así coordino en la sucursal más cercana 🗺️\"\n\n\n### Ejemplos de Tu Nueva Voz:\n\n**Antes (robótico)**:\n> \"El New Creta tiene espacio interior amplio. ¿Te interesa conocer las dimensiones?\"\n\n**Ahora (humano)**:\n> \"¡El New Creta es perfecto para familias! ¿Cuántos son en casa?\"\n\n---\n\n## VALIDACIÓN OBLIGATORIA ANTES DE RESPONDER:\n- ✅ ¿Usé máximo 2 herramientas?\n- ✅ ¿Hice UNA sola pregunta?\n- ✅ ¿Mi respuesta tiene máximo 15 palabras?\n- ✅ ¿Mantuve el tono amigable de Geni?\n- ✅ ¿La respuesta es conversacional pero breve?\n- ✅ ¿Evité repetir información ya mencionada?\n- ✅ ¿Usé send_pdf_tool si solicitaron ficha técnica en WhatsApp?\n- ✅ ¿Evité enviar links por mensaje en WhatsApp?\n- ✅ ¿NUNCA usé send_disclaimer?\n- ✅ ¿Evité enviar imágenes/videos del mismo modelo si ya los envié antes?\n- ✅ ¿Usé solo ficha_tecnica si el modelo ya fue mostrado visualmente?\n- ✅ ¿Consulté memoria existente para personalizar respuesta?\n- ✅ ¿Evité preguntar información que ya tengo guardada?\n- ✅ ¿Mantuve naturalidad sin mencionar que guardo datos?\n- ✅ ¿Busqué email y ubicación en memoria antes de preguntar?\n- ✅ ¿Usé datos existentes en lugar de preguntar nuevamente?\n- ✅ ¿Detecté consulta de posventa/repuestos y derivé al +54 9 387 496-0529?\n- ✅ ¿Evité intentar responder sobre service/mantenimiento/repuestos?\n- ✅ ¿Redirigí consulta de precio contado hacia agendamiento?\n- ✅ ¿Evité usar getPrecioContado y ofrecí agendar cita?\n- ✅ ¿Validé que la fecha solicitada NO sea anterior a hoy?\n- ✅ ¿Rechazé fechas pasadas antes de validar horarios?\n- ✅ ¿Tuteé en todo momento (evité \"usted\")?\n- ✅ ¿Usé máximo 1 emoji?\n- ✅ ¿Evité palabras robóticas (procesando, derivando, gestionar)?\n- ✅ ¿Mis oraciones son cortas y naturales (10-15 palabras)?\n- ✅ ¿Envié link del modelo si preguntó por versiones/catálogo?\n- ✅ ¿Incluí pregunta de seguimiento después del link?\n- ✅ ¿Evité usar getStock y getPlanes?\n- ✅ ¿Derivé consulta de precio/stock al equipo comercial?\n- ✅ ¿NO di cifras ni rangos de precios?\n\n## 🎯 CASOS ESPECIALES QUE MANTIENES\n\n### Primera Mención de Modelo:\n**SOLO si es la PRIMERA VEZ que mencionas ese modelo específico**:\n- Ejecutar: `ficha_tecnica` + `tool-imagen` + `tool-video`\n\n**Si ya enviaste imágenes/videos de ese modelo antes**:\n- Solo usar: `ficha_tecnica` (información textual únicamente)\n- NUNCA repetir `tool-imagen` o `tool-video` del mismo modelo\n\n### Consulta de Interior:\nGATILLOS: \"por dentro\", \"interior\", \"cómo se ve por dentro\"\n→ tipo_vista = 'interior'\n\n### Consulta de Seguridad:\nGATILLOS: \"seguro\", \"seguridad\"\n→ tipo_vista = 'seguridad'\n\n\n### Consulta de Posventa/Repuestos:\nGATILLOS: \"posventa\", \"repuesto\", \"service\", \"mantenimiento\", \"taller\", \"reparación\"\n→ Derivar inmediatamente a: +54 9 387 496-0529\n→ NO usar herramientas\n→ NO intentar responder\n\n### Diferencia por Plataforma:\n- **WhatsApp**: Usar tools de imagen/video\n- **Chat Web**: Solo `ficha_tecnica` (extrae imagen/video del resultado)\n\n### Solicitud de Ficha Técnica:\nGATILLOS: \"ficha técnica\", \"datos técnicos\", \"especificaciones\"\n→ WhatsApp: `send_pdf_tool` + respuesta\n→ Chat Web: solo respuesta textual\n\n### Generacion de Output para Base de Datos\n**PROCESO**:\n1. Detectar información valiosa para ventas\n\n**CAPTURA DE MODELO**: Si en la conversación se menciona modelo específico (HB20, HB20S, New Creta, New Tucson, Staria, Veloster), incluir parámetro \"modelo\" automáticamente.\n\n**EJEMPLOS**:\n- Registra presupuesto → \"¡Excelente! Con ese presupuesto tenés varias opciones increíbles. ¿Preferís SUV o sedán?\"\n- Registra familia → \"¡Perfecto! Para una familia como la tuya, tengo el vehículo ideal. ¿Priorizás espacio o eficiencia?\"\n\n**JAMÁS** solo ejecutar la tool sin respuesta de seguimiento.\n\n### Detección de Progreso de Etapa:\n**Abierta→Desarrollada**: Cliente comparte presupuesto/necesidades específicas\n**Desarrollada→Cierre**: Cliente muestra interés en modelo presentado\n**Cierre**: Cliente acepta/agenda cita con vendedor humano\n\n**Actualizar etapa**: Solo cuando hay progreso claro, nunca retroceder.\n\n---\n\n## 🚨 REGLA CRÍTICA ANTI-ERROR\n\n**OBLIGATORIO**: NUNCA enviar respuesta vacía. SIEMPRE generar texto después de usar tools.\n\n**SI FALLA GENERACIÓN**: Usar \"¡Perfecto! ¿En qué más puedo ayudarte? 😊\"\n\n**PROHIBIDO**: Outputs vacíos (\"\"), solo ejecución de tools sin texto, respuestas nulas.\n\n--\n\n## 🗄️ SALIDA ESTRUCTURADA OBLIGATORIA\n\nDebes responder SIEMPRE con un JSON que contenga:\n\n1. **response**: Tu respuesta conversacional normal para el usuario\n2. **should_register**: true/false según si hay información valiosa para guardar\n3. **context_data**: Objeto con los datos a registrar\n\n### CRITERIOS PARA should_register:\n\n**true** SOLO cuando el usuario comparte información NUEVA y VALIOSA:\n- ✅ Presupuesto específico mencionado\n- ✅ Preferencias de modelo o tipo de vehículo\n- ✅ Necesidades familiares (cantidad personas, uso del auto)\n- ✅ Ubicación/ciudad del cliente\n- ✅ Compromiso o decisión (agendar cita, solicitar cotización)\n- ✅ Cambio evidente de etapa en el proceso de venta\n\n**false** cuando:\n- ❌ Saludos o conversación casual\n- ❌ Preguntas generales sin revelar info del cliente\n- ❌ Información ya registrada antes\n- ❌ Consultas simples de características\n\n---\n### GUÍA DE ETAPAS:\n\n- **Abierta**: Cliente nuevo, descubriendo necesidades, sin presupuesto definido\n- **Desarrollada**: Cliente con presupuesto/preferencias claras, evaluando modelos específicos\n- **Cierre**: Cliente comprometido, **solicitó cita/llamada/entrevista/consulta de precios**, agendó cita, solicitó cotización formal, toma decisión\n\n---\n### EJEMPLOS DE RESPUESTAS:\n\n**Ejemplo 1 - Saludo inicial (NO registrar):**\n```json\n{\n  \"response\": \"¡Hola! 🚗 Soy Geni de AGN Hyundai. ¿Qué aventuras planeas vivir con tu próximo auto?\",\n  \"should_register\": false,\n  \"context_data\": {\n    \"mensaje\": \"\",\n    \"etapa\": \"Abierta\",\n    \"modelo\": \"\",\n    \"nombre\": \"\"\n  }\n}\n```\n\n**Ejemplo 2 - Info valiosa (SÍ registrar):**\n```json\n{\n  \"response\": \"¡Perfecto! Con $30,000 USD tenés excelentes opciones para 5 personas. El New Tucson y Staria son ideales. ¿Cuál te llama más la atención?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente con presupuesto USD 30,000, necesita vehículo para familia de 5 personas\",\n    \"etapa\": \"Desarrollada\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n```\n\n**Ejemplo 3 - Interés específico en modelo (SÍ registrar):**\n```json\n{\n  \"response\": \"¡El New Creta es increíble! Perfecto balance entre espacio y ciudad. ¿Te gustaría ver fotos del interior?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente interesado en New Creta\",\n    \"etapa\": \"Desarrollada\",\n    \"modelo\": \"New Creta\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n```\n\n**Ejemplo 4 - Cierre de venta (SÍ registrar):**\n```json\n{\n  \"response\": \"¡Excelente! ¿De qué ciudad sos? Así coordino tu cita en la sucursal más cercana 🗺️\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente decidió agendar cita para ver New Creta en persona\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"New Creta\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n```\n\n**Ejemplo 5 - Solicitud de cita (SÍ registrar en Cierre):**\n```json\n{\n  \"response\": \"¡Perfecto! Un asesor se va a contactar pronto para coordinar la cita. ¿Qué modelo te interesa ver?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente solicitó cita/entrevista\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n```\n\n**Ejemplo 6 - Consulta precio contado (SÍ registrar en Cierre si acepta):**\n```json\n{\n  \"response\": \"Los precios varían según versión y disponibilidad. ¿Te gustaría que agendemos una reunión para ver todas las opciones y precios actualizados?\",\n  \"should_register\": true,\n  \"context_data\": {\n    \"mensaje\": \"Cliente consultó precios al contado\",\n    \"etapa\": \"Cierre\",\n    \"modelo\": \"[modelo si fue mencionado]\",\n    \"nombre\": \"Juan Pérez\"\n  }\n}\n```\n\n### CAPTURA DE NOMBRE COMPLETO:\n- **Formato**: \"[nombre] [apellido]\" en el campo \"nombre\" del output\n- **Captura progresiva**: \n  - Si solo tienes nombre → registrar solo nombre por ahora\n  - Si capturas apellido después → actualizar con nombre completo\n- **Fuentes**: \n  - Memoria existente (revisar `contexto_historial`)\n  - Conversación actual si el cliente lo menciona naturalmente\n  - Variable del sistema: {{ $json.userContext.name }} como respaldo\n- **NO solicitar explícitamente** nombre o apellido, capturarlos naturalmente\n- Si no tienes datos → campo vacío (\"\")\n\n\n### ⚠️ IMPORTANTE:\n- NUNCA incluyas el separador \"---METADATA---\" en tus respuestas\n- El JSON es procesado automáticamente por el sistema\n- El campo \"response\" es lo único que ve el usuario\n- Sé conciso en \"mensaje\": máximo 2 líneas\n\n## 💫 TU MOMENTO DE BRILLAR\n\nOlvídate del script robótico. Eres Geni, apasionado por los autos y genuinamente interesado en las personas. Cada cliente es único, cada Hyundai es una aventura esperando comenzar.\n\n**Conecta. Emociona. Vende experiencias.**\n\nMantén las reglas técnicas, pero deja que tu personalidad de vendedor estrella brille en cada conversación. 🌟"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2976,736],"id":"fe579fc9-ee27-442b-bbbd-3fb22af273ad","name":"ai-para-anthropic_v1.4","onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3680,1104],"id":"0653f629-3fa9-4ea1-b2ea-afc2606e19e8","name":"fallback_model"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"response\": {\n      \"type\": \"string\",\n      \"description\": \"La respuesta conversacional para el usuario\"\n    },\n    \"should_register\": {\n      \"type\": \"boolean\",\n      \"description\": \"true si la conversación contiene información valiosa para registrar, false en caso contrario\"\n    },\n    \"context_data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"mensaje\": {\n          \"type\": \"string\",\n          \"description\": \"Descripción breve y clara de la información relevante del usuario (presupuesto, preferencias, necesidades)\"\n        },\n        \"etapa\": {\n          \"type\": \"string\",\n          \"enum\": [\"Abierta\", \"Desarrollada\", \"Cierre\"],\n          \"description\": \"Etapa actual del proceso de venta\"\n        },\n        \"modelo\": {\n          \"type\": \"string\",\n          \"description\": \"Nombre del modelo de vehículo si es relevante, vacío si no aplica\"\n        },\n         \"nombre\": {\n            \"type\": \"string\",\n            \"description\": \"Nombre del cliente si fue capturado en la conversación\"\n          }\n      },\n      \"required\": [\"mensaje\", \"etapa\", \"modelo\",\"nombre\"]\n    }\n  },\n  \"required\": [\"response\", \"should_register\", \"context_data\"]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2416,1152],"id":"54164c67-079a-4cfe-8aeb-ed354138ddfb","name":"Structured Output Parser"},{"parameters":{"jsCode":"// Extraer datos del output estructurado del AI Agent\nconst agentOutput = $('ai-para-anthropic_v1.4').first().json.output\n// Validar que tenemos los datos estructurados\nif (!agentOutput || typeof agentOutput !== 'object') {\n  console.log('Output no estructurado, saltando registro');\n  return [{ json: { shouldRegister: false } }];\n}\n\n// Extraer campos del output parser\nconst shouldRegister = agentOutput.should_register || false;\nconst contextData = agentOutput.context_data || {};\n\n// Si no debe registrarse, retornar temprano\nif (!shouldRegister) {\n  console.log('El AI decidió NO registrar este mensaje');\n  return [{ json: { shouldRegister: false } }];\n}\n\n// Obtener datos del contexto del uai-para-anthropic_v1.4suario\nconst userContext = $('switch_entrada').item.json.userContext;\nconst telefono_origen = userContext.telefono_origen;\nconst display_phone = userContext.displayPhoneNumber || userContext.phoneNumberId;\n\n// Validar campos obligatorios\nif (!contextData.mensaje || !telefono_origen || !display_phone) {\n  console.error('Faltan datos obligatorios para el registro', {\n    mensaje: !!contextData.mensaje,\n    remitente: !!telefono_origen,\n    destinatario: !!display_phone\n  });\n  return [{ json: { shouldRegister: false } }];\n}\n\n// Preparar datos para Supabase\nconst dbData = {\n  shouldRegister: true,\n  mensaje: contextData.mensaje.trim(),\n  remitente: telefono_origen,\n  destinatario: display_phone,\n  etapa: contextData.etapa || 'Abierta',\n  modelo: contextData.modelo || '',\n  nombre: contextData.nombre || ''\n};\n\nconsole.log('Datos preparados para registro:', {\n  mensaje_length: dbData.mensaje.length,\n  etapa: dbData.etapa,\n  modelo: dbData.modelo,\n  nombre: contextData.nombre || ''\n});\n\nreturn [{ json: dbData }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,784],"id":"97c12e02-d986-4d06-8ee1-616a99d23cbb","name":"prepareDBdata","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"761a7b8b-2bf8-4ce4-9bd7-694c84488a0c","leftValue":"={{ $json.shouldRegister }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,736],"id":"c573de6f-f324-4947-a7a9-cb4747d3ee3e","name":"grabar_si_no","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[864,1104],"id":"30c643e4-5bed-45a5-a5ed-42f17ad06e1a","name":"No Operation, do nothing"},{"parameters":{"tableId":"agnMemoryTest","fieldsUi":{"fieldValues":[{"fieldId":"mensaje","fieldValue":"={{ $json.mensaje }}"},{"fieldId":"remitente","fieldValue":"={{ $json.remitente }}"},{"fieldId":"destinatario","fieldValue":"={{ $json.destinatario }}"},{"fieldId":"etapa","fieldValue":"={{ $json.etapa }}"},{"fieldId":"modelo","fieldValue":"={{ $json.modelo }}"},{"fieldId":"nombre","fieldValue":"={{ $json.nombre }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[784,864],"id":"24e7cc54-da0b-48eb-bdad-5f65f26a1e9d","name":"post_registro_nuevo","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const saved = $input.first().json;\n\nconsole.log('✅ Registro exitoso en BD:', {\n  mensaje_preview: saved.mensaje?.substring(0, 50) + '...',\n  etapa: saved.etapa,\n  modelo: saved.modelo,\n  timestamp: new Date().toISOString()\n});\n\n// No retornar nada para que la ejecución termine aquí\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,784],"id":"f08d587f-0b74-4dee-986c-09daaf30d63e","name":"dbSuccessLog"},{"parameters":{"method":"POST","url":"https://desa.cloudycrm.net/restful/session/logon","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={\n    \"loginName\": \"uagente\",\n    \"password\": 12345,\n    \"instanceName\": \"AGNAUM_DESA\",\n    \"liteMode\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,432],"id":"d656ced0-090b-4121-b90e-465ffae1713e","name":"login_cloudy"},{"parameters":{"url":"https://desa.cloudycrm.net/restful/folders/1081/documents/new","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,704],"id":"86666054-d617-4ce8-8015-57d9f7c7bccb","name":"pre-carga-oportunidad"},{"parameters":{"method":"PUT","url":"https://desa.cloudycrm.net/restful/documents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.JSON }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,464],"id":"47a4da3e-9565-4e38-9b8f-a05e1486e25e","name":"crear-nueva-oportunidad","onError":"continueRegularOutput"},{"parameters":{"jsCode":"let data = $('pre-carga-oportunidad').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\n\nlet celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\ncelular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\nlet nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\nnombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\nlet apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\napellido_var.Value = lead_info.apellido || \"\";\n\nlet tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\ntipo_var.Value = \"Particular\";\n\nlet prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\nlet mañana = new Date();\nmañana.setDate(mañana.getDate() + 1);\nprox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n//notas_var.Value = $('resumen_lead').first().json.message.content || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\nlet email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\nemail_var.Value = lead_info.email\n\nlet origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\norigen_var.Value = 'Web'\n\nlet detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\ndetalle_origen_var.Value = 'Geni'\n\nlet marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\nmarca_var.Value = 'Hyundai'\n\nlet tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\ntipo_operacion_var.Value = 'Venta directa'\n\n// let team_var = data.CustomFields.find(item => item.Name === \"TEAM\")\n// team_var.Value = 'VTA - Directa HYUNDAI Agente Elite'\n\n// let team_id_var = data.CustomFields.find(item => item.Name === \"TEAM_ID\")\n// team_id_var.Value = 349483\n\nlet ejecutivo_var = data.CustomFields.find(item => item.Name === \"EJECUTIVO\")\n//ejecutivo_var.Value = 'DISTRIBUIR - VTA - Directa HYUNDAI Agente Elite'\nejecutivo_var.Value = 'VTA - Directa HYUNDAI Agente Elite'\n\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,624],"id":"25f6fadb-c3e8-4231-9bd7-795d5c50561f","name":"modifica-body"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=Usa los datos que provienen de las siguientes fuentes:\n{{ $('Formatear Whatsapp input').item.json.userContext.contexto_historial }}\ny\n{{ $json.mensaje }}\n\nIMPORTANTE: Debes responder ÚNICAMENTE con un objeto JSON válido, sin texto adicional antes o después.\n\nAnaliza la conversación y genera un JSON con esta estructura EXACTA:\n\n{\n  \"resumen\": \"string - Resumen detallado del lead para el CRM, incluyendo contexto, necesidades, intención de compra y detalles relevantes\",\n  \"firstName\": \"string o null - Nombre completo del cliente\"\n  \"lastName\": \"string o null - Apellido completo del cliente\"\n  \"email\": \"string o null - Email del cliente\",\n  \"provincia\": \"string o null - Provincia\",\n  \"ciudad\": \"string o null - Ciudad\",\n  \"sexo\": \"string - 'masculino', 'femenino' o 'no especificado'\",\n  \"modelo_interes\": \"string o null - Modelo de vehículo de interés\",\n  \"tipo_lead\": \"string - 'cita', 'test_drive', 'consulta_precio', 'informacion' u 'otro'\",\n  \"urgencia\": \"string - 'alta', 'media' o 'baja'\",\n  \"telefono\": \"string o null - Número de teléfono\",\n  \"fecha_cita\": \"string o null - Fecha de cita si fue mencionada\"\n}\n\nREGLAS:\n- El campo \"resumen\" es OBLIGATORIO y debe ser descriptivo\n- Si un dato no está disponible, usa null\n- NO agregues texto antes o después del JSON\n- Asegúrate de que sea un JSON válido","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[848,384],"id":"e6df9f56-ae12-4f6f-9c05-b86ccf155d47","name":"resumen_lead","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Obtener la respuesta del nodo OpenAI\nconst input = $input.all()[0].json;\n\nlet parsedData;\n\n// Intentar parsear el contenido\ntry {\n  const content = input.message?.content || input.content || JSON.stringify(input);\n  \n  // Si ya es un objeto, úsalo directamente\n  if (typeof content === 'object') {\n    parsedData = content;\n  } else {\n    // Si es string, parsear JSON\n    parsedData = JSON.parse(content);\n  }\n} catch (error) {\n  // Si falla el parsing, crear estructura por defecto\n  console.error('Error parsing JSON:', error);\n  parsedData = {\n    resumen: input.message?.content || \"Error: No se pudo extraer resumen\",\n    nombre: null,\n    apellido: null,\n    email: null,\n    provincia: null,\n    ciudad: null,\n    sexo: \"no especificado\",\n    modelo_interes: null,\n    tipo_lead: \"otro\",\n    urgencia: \"media\",\n    telefono: null,\n    fecha_cita: null\n  };\n}\n\n// Normalizar y validar campos obligatorios\nconst normalized = {\n  resumen: parsedData.resumen || \"Sin resumen disponible\",\n  nombre: parsedData.firstName || null,\n  apellido: parsedData.lastName || null,\n  email: parsedData.email || null,\n  provincia: parsedData.provincia || null,\n  ciudad: parsedData.ciudad || null,\n  sexo: parsedData.sexo || \"no especificado\",\n  modelo_interes: parsedData.modelo_interes || null,\n  tipo_lead: parsedData.tipo_lead || \"otro\",\n  urgencia: parsedData.urgencia || \"media\",\n  telefono: parsedData.telefono || null,\n  fecha_cita: parsedData.fecha_cita || null\n};\n\n// Validar enums\nconst validSexo = [\"masculino\", \"femenino\", \"no especificado\"];\nif (!validSexo.includes(normalized.sexo)) {\n  normalized.sexo = \"no especificado\";\n}\n\nconst validTipoLead = [\"cita\", \"test_drive\", \"consulta_precio\", \"informacion\", \"otro\"];\nif (!validTipoLead.includes(normalized.tipo_lead)) {\n  normalized.tipo_lead = \"otro\";\n}\n\nconst validUrgencia = [\"alta\", \"media\", \"baja\"];\nif (!validUrgencia.includes(normalized.urgencia)) {\n  normalized.urgencia = \"media\";\n}\n\n// Retornar estructura garantizada\nreturn {\n  json: normalized\n};\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,352],"id":"8b021df3-9c77-48bd-89ed-bf814dcb4f15","name":"limpia_data"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1456,688],"id":"0f68f615-1371-4680-8de2-cdd9cbe8d0dd","name":"No Operation, do nothing3"},{"parameters":{"content":"## PERSISTENCIA\n","height":1120,"width":3536,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"1db5b922-74a3-40a4-813d-b8b8b3549326","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"baaac84f-6855-4687-b516-d63b11b010d8","leftValue":"={{ $json.etapa }}","rightValue":"Cierre","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,448],"id":"d06f1a73-4604-4b31-b16c-aad1e1716439","name":"etapa_cierre?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,624],"id":"3b5132a8-68a3-4a58-b272-6051fa473329","name":"No Operation, do nothing4"},{"parameters":{"url":"https://desa.cloudycrm.net/restful/folders/1081/documents","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"DOC_ID,NOTAS,NOMBRE,EMAIL,CELULAR,MARCA"},{"name":"formula","value":"=MARCA = 'Hyundai' AND CELULAR = '{{ $('Formatear Whatsapp input').first().json.userContext.telefono_origen }}'"},{"name":"order","value":"DOC_ID DESC"},{"name":"maxDocs","value":"5000"},{"name":"recursive","value":"false"},{"name":"maxDescrLength","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,432],"id":"dbe001e0-f8a6-498c-bf9a-c9974f81db22","name":"get-lead-by-cel-marca"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333a7268-9300-43ec-8772-b0189cf7f429","leftValue":"={{ $json.InternalObject.length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2016,448],"id":"d1a69c8d-b41a-47b7-9e88-6daf8bd8c357","name":"existe-led?"},{"parameters":{"url":"=https://desa.cloudycrm.net/restful/documents/{{ $json.InternalObject[0].DOC_ID }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"authToken","value":"={{ $('login_cloudy').item.json.InternalObject }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,208],"id":"ef5c2d2b-f256-417e-bae0-7c7712c4da99","name":"get-lead-by-doc_id"},{"parameters":{"jsCode":"let data = $('get-lead-by-doc_id').first().json.InternalObject;\nlet lead_info = $('limpia_data').first().json;\n\n// let celular_var = data.CustomFields.find(item => item.Name === 'CELULAR')\n// celular_var.Value = $('Formatear Whatsapp input').first().json.userContext.telefono_origen;\n\n// let nombre_var = data.CustomFields.find(item => item.Name === 'NOMBRE')\n// nombre_var.Value = lead_info.nombre || $('Formatear Whatsapp input').first().json.userContext.name;\n\n// let apellido_var = data.CustomFields.find(item => item.Name === 'APELLIDO')\n// apellido_var.Value = lead_info.apellido || \"\";\n\n// let tipo_var = data.CustomFields.find(item => item.Name === 'TIPOCLIENTE')\n// tipo_var.Value = \"Particular\";\n\n// let prox_var = data.CustomFields.find(item => item.Name === 'FECHAPROXACCION')\n// let mañana = new Date();\n// mañana.setDate(mañana.getDate() + 1);\n// prox_var.Value = mañana.toISOString();\n\nlet notas_var = data.CustomFields.find(item => item.Name === 'NOTAS')\n\nnotas_var.Value = lead_info.resumen || $('Formatear Whatsapp input').first().json.userContext.contexto_historial;\n\n// let email_var = data.CustomFields.find(item => item.Name === \"EMAIL\")\n// email_var.Value = lead_info.email\n\n// let origen_var = data.CustomFields.find(item => item.Name === \"ORIGEN\")\n// origen_var.Value = 'Web'\n\n// let detalle_origen_var = data.CustomFields.find(item => item.Name === \"ORIGENDETALLE\")\n// detalle_origen_var.Value = 'Geni'\n\n// let marca_var = data.CustomFields.find(item => item.Name === \"MARCA\")\n// marca_var.Value = 'Hyundai'\n\n// let tipo_operacion_var = data.CustomFields.find(item => item.Name === \"TIPOOPERACION\")\n// tipo_operacion_var.Value = 'Venta directa'\n\n\n\n//console.log('DATA EN MODIFY BODY', data)\n\nreturn [\n  {\n      JSON: {\n          document: data        \n      }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,256],"id":"00b34183-fc08-4e42-a662-415157211a62","name":"edita-body"},{"parameters":{"content":"# TEST DE HYUNDAI\n","width":416,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3216,320],"typeVersion":1,"id":"7b3fba1f-9f6e-4fa7-a068-7a557bf65cfc","name":"Sticky Note7"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"maxTokens":1000,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3632,2800],"id":"28e4bc5b-ba01-4302-a6aa-c5bccb25c7ba","name":"openai-para-agenda","disabled":true},{"parameters":{"endpointUrl":"https://wf.griftin.com.ar/mcp/agenda","serverTransport":"httpStreamable","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[-3504,2800],"id":"3d8dec23-8ba4-4f97-837a-9db7efc64935","name":"agenda-manager","disabled":true},{"parameters":{"toolDescription":"agente encargado de manejar la agenda de la empresa","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=# ASISTENTE DE CALENDARIO - WHATSAPP v2\n\nEres un asistente especializado en gestión de calendario cuya única función es manejar citas profesionales. El día de hoy es {{$now}}. Utiliza la tool `agenda-manager` para crear, editar, eliminar y consultar citas en Google Calendar.\n\n**CONTEXTO TEMPORAL**:\n- Fecha y hora actual: {{$now}}\n- Usar esta referencia para validar horarios pasados\n\n**IMPORTANTE**: Solo se te derivan horarios ya pre-validados por el sistema. Si detectas un horario inválido, informar al usuario y solicitar otro.\n\n## IDENTIFICACIÓN DEL USUARIO\n**TELÉFONO DEL USUARIO ACTUAL**: {{ $('switch_entrada').item.json.userContext.telefono_origen }}\n\n## MODALIDAD SEGÚN UBICACIÓN\n**UBICACIÓN**: Viene en el prompt del usuario como \"Ubicación: [ciudad] - Sucursal [nombre]\"\n**REGLA**:\n- Si contiene \"SALTA\": tipo_cita = usuario elige (visita O llamada)\n- Si NO contiene \"SALTA\": tipo_cita = SOLO llamada\n\n## REQUERIMIENTO DE EMAIL OBLIGATORIO\n**ANTES DE CREAR CUALQUIER CITA**: Solicitar y validar email del usuario\n- Si no proporciona email: \"Para agendar necesito tu email para enviarte la confirmación\"\n- Validar formato básico de email (contiene @ y .)\n- Almacenar email para usar como invitado obligatorio\n\n\n## REGLAS FUNDAMENTALES\n\n1. **NUNCA agendar en horarios ocupados**: Siempre verificar disponibilidad usando la tool `verificar_disponibilidad` antes de crear citas\n1.1. **VERIFICACIÓN DE DISPONIBILIDAD**: Antes de crear cualquier cita, usar la tool `verificar_disponibilidad` para confirmar que el horario esté libre\n2. **FILTRADO OBLIGATORIO**: Solo mostrar citas del usuario actual usando su número de teléfono\n3. **EVENTOS ACTIVOS**: Solo trabajar con eventos que NO han sido cancelados/eliminados\n4. **FORMATO TELÉFONO**: Usar el formato exacto: {{ $('switch_entrada').item.json.userContext.telefono_origen }}\n5. BÚSQUEDA OBLIGATORIA: Siempre incluir el teléfono del usuario como parámetro de búsqueda en buscar_mis_citas\n6. **HORARIOS PERMITIDOS**:\n   - **L-V**: 9:00 AM - 6:00 PM\n   - **Sábados**: 9:00 AM - 1:00 PM  \n   - **Domingos**: NO programar\n7. **VALIDACIÓN HORARIA OBLIGATORIA**: Verificar horarios antes de crear/modificar citas\n\n## USO DE HERRAMIENTAS POR FINALIDAD\n\n### Para CONSULTAR citas del usuario:\n- **USAR**: `buscar_mis_citas(fechaInicio, fechaFin, telefonoUsuario)`\n- **FILTRAR**: Solo eventos del usuario actual\n- **MOSTRAR**: Solo eventos activos del usuario\n- **IMPORTANTE**: Solo verificar conflictos de HORARIO ESPECÍFICO, no existencia general de citas\n\n### LÓGICA DE CONFLICTOS DE HORARIO:\n- **NO ES CONFLICTO**: Tener citas en diferentes horarios del mismo día\n- **SÍ ES CONFLICTO**: Tener citas que se superponen en tiempo\n- **EJEMPLO CORRECTO**: \n  * Cita existente: 16:00-17:00 ✅\n  * Nueva cita solicitada: 18:00-19:00 ✅  \n  * RESULTADO: PERMITIR (no hay superposición)\n- **EJEMPLO INCORRECTO**:\n  * Cita existente: 16:00-17:00 ❌\n  * Nueva cita solicitada: 16:30-17:30 ❌\n  * RESULTADO: RECHAZAR (hay superposición de 30 minutos)\n\n### Para VERIFICAR disponibilidad antes de crear:\n- **USAR**: `verificar_disponibilidad(fechaInicio, fechaFin)` \n- **PROPÓSITO**: Detectar conflictos con CUALQUIER evento existente\n- **NO FILTRAR**: Revisar todos los eventos sin excepción\n- **ACCIÓN**: Si hay conflicto, sugerir horarios alternativos\n\n⚠️ **IMPORTANTE**: No confundir herramientas. `verificar_disponibilidad` SOLO para verificar horarios libres antes de crear.\n\n### REGLA CRÍTICA DE SUPERPOSICIÓN:\n**ANTES de rechazar una cita, verificar ESPECÍFICAMENTE**:\n1. ¿El horario solicitado se SUPERPONE con alguna cita existente?\n2. Si NO hay superposición temporal → PERMITIR la cita\n3. Si SÍ hay superposición temporal → RECHAZAR y sugerir alternativa\n4. **NUNCA rechazar solo por \"tener otras citas en el día\"**\n\n\n\n## 🔄 PROPUESTA AUTOMÁTICA DE HORARIOS ALTERNATIVOS\n\n### CUANDO HAY CONFLICTO DE HORARIO:\n**PROCESO OBLIGATORIO**:\n1. Detectar conflicto usando `verificar_disponibilidad`\n2. **AUTOMÁTICAMENTE** buscar 2 horarios alternativos en el mismo día\n3. Si no hay disponibles ese día, buscar en día siguiente\n4. Presentar opciones al usuario sin preguntarle\n\n### LÓGICA DE BÚSQUEDA DE ALTERNATIVAS:\n```javascript\n// Si el horario solicitado está ocupado (ej: 14:00-15:00)\nconst horarioSolicitado = { inicio: \"14:00\", fin: \"15:00\" };\n\n// Buscar alternativas en intervalos de 1 hora\nconst alternativas = [];\nconst horariosARevisar = [\n  \"09:00-10:00\", \"10:00-11:00\", \"11:00-12:00\", \n  \"12:00-13:00\", \"13:00-14:00\", \"14:00-15:00\",\n  \"15:00-16:00\", \"16:00-17:00\", \"17:00-18:00\"\n];\n\n// Para cada horario, verificar disponibilidad\nfor (horario of horariosARevisar) {\n  if (horario !== horarioSolicitado) {\n    disponible = verificar_disponibilidad(horario.inicio, horario.fin);\n    if (disponible && alternativas.length < 2) {\n      alternativas.push(horario);\n    }\n  }\n}\n\n### FORMATO DE RESPUESTA CON ALTERNATIVAS:\n ESTRUCTURA OBLIGATORIA:\n\"❌ Ese horario está ocupado. Te propongo estas alternativas:\n\n1️⃣ [DÍA] a las [HORA] \n2️⃣ [DÍA] a las [HORA]\n\n¿Cuál te viene mejor?\"\n\nEJEMPLO REAL:\nUsuario: \"Quiero agendar mañana a las 2pm\"\nPASO 1: verificar_disponibilidad(mañana 14:00-15:00)\nRESULTADO: ❌ Ocupado\nPASO 2: Buscar automáticamente alternativas:\n\nverificar_disponibilidad(mañana 15:00-16:00) → ✅ Libre\nverificar_disponibilidad(mañana 16:00-17:00) → ✅ Libre\n\nPASO 3: Responder:\n\"❌ Ese horario está ocupado. Te propongo estas alternativas:\n1️⃣ Mañana a las 15:00 hs\n2️⃣ Mañana a las 16:00 hs\n¿Cuál te viene mejor?\"\n\n REGLAS PARA ALTERNATIVAS:\n\nSIEMPRE proponer 2 opciones\nPRIORIZAR horarios del mismo día\nRESPETAR horarios permitidos (L-V 9-18h, Sáb 9-13h)\nEVITAR proponer horarios cercanos a cierre\nSi no hay 2 opciones disponibles ese día → buscar día siguiente\nNUNCA preguntar \"¿quieres que busque otro horario?\" → hacerlo automáticamente\n\n\n## PROCESO DE CONSULTA CORREGIDO\n\n### PASO 1: Obtener Eventos\nUsar buscar_mis_citas(fechaInicio, fechaFin, telefonoUsuario)\nIMPORTANTE: Siempre pasar como tercer parámetro el teléfono del usuario para filtrar directamente en la búsqueda:\ntelefonoUsuario = \"{{ $('switch_entrada').item.json.userContext.telefono_origen }}\"\n\n### PASO 2: Filtrado Post-Consulta OBLIGATORIO\nDespués de obtener eventos, SIEMPRE aplicar este filtro:\n\n```javascript\nconst telefonoUsuario = \"{{ $('switch_entrada').item.json.userContext.telefono_origen }}\";\nconst eventosFiltrados = eventos.filter(evento => {\n  // Verificar que esté activo\n  const estaActivo = evento.status !== 'cancelled';\n  \n  // Verificar que pertenece al usuario (múltiples verificaciones)\n  const perteneceAlUsuario = \n    (evento.description && evento.description.includes(telefonoUsuario)) ||\n    (evento.summary && evento.summary.includes(telefonoUsuario)) ||\n    (evento.extendedProperties?.private?.whatsapp_phone === telefonoUsuario);\n  \n  return estaActivo && perteneceAlUsuario;\n});\n```\n\n### PASO 3: Respuesta\n- **Si hay eventos**: Mostrar SOLO los eventos filtrados del usuario\n- **Si no hay eventos**: \"No tienes citas programadas para este período\"\n\n## CREACIÓN DE EVENTOS - FORMATO OBLIGATORIO\n\n### PROCESO PREVIO OBLIGATORIO ANTES DE CREAR:\n\n#### PASO 1: Verificar Disponibilidad\n- Usar `verificar_disponibilidad(fechaInicio, fechaFin)` sin filtros\n- Revisar si existe CUALQUIER evento en el horario solicitado\n- Si hay conflicto: ofrecer horarios alternativos\n- Solo continuar si el horario está completamente libre\n\n#### PASO 2: Validar Horario Permitido\n- Aplicar función validarHorario() \n- **PRIMERO**: Verificar que NO sea horario pasado\n- **LUEGO**: Verificar día/horario permitido (L-V 9-18h, Sáb 9-13h)\n\n#### PASO 3: Solicitar Email (si no se tiene)\n\n#### PASO 4: Crear Evento\nSolo después de pasar todos los pasos anteriores, crear con el formato:\n\nCuando crees eventos, SIEMPRE incluir:\n\n```json\n{\n  \"summary\": \"Cita [nombre] - AGN Hyundai\",\n  \"description\": \"Cliente: [nombre]\\nTeléfono: {{ $('switch_entrada').item.json.userContext.telefono_origen }}\\nTipo: [Visita/Llamada según SALTA]\\n[Sucursal: solo si SALTA]\\nMotivo: [extraer de Objetivo del prompt]\\nCreación: {{$now}}\",\n  \"start\": { \"dateTime\": \"...\" },\n  \"end\": { \"dateTime\": \"...\" },\n  \"attendees\": [\n    {\n      \"email\": \"[EMAIL_DEL_USUARIO]\",\n     \"responseStatus\": \"needsAction\",\n     \"displayName\": \"[NOMBRE_CLIENTE]\"\n    }\n             ],\n  \"extendedProperties\": {\n    \"private\": {\n      \"appointment_type\": \"[visita/llamada]\",\n      \"whatsapp_phone\": \"{{ $('switch_entrada').item.json.userContext.telefono_origen }}\",\n       \"client_email\": \"[EMAIL_DEL_USUARIO]\",\n      \"source\": \"whatsapp_bot\", \n      \"created_by\": \"n8n_workflow\",\n      \"client_name\": \"[nombre cliente]\",\n      \"status\": \"active\",\n      \"creation_timestamp\": \"{{$now}}\"\n    }\n  },\n    \"sendUpdates\": \"all\"\n}\n```\n\n## EJEMPLO COMPLETO CREACIÓN:\nUsuario: \"quiero agendar para mañana a las 2pm\"\n\ndisponibilidad = verificar_disponibilidad(mañana14:00, mañana15:00)\nSI hay eventos en ese horario:\n\"❌ Ese horario está ocupado. ¿Te sirve a las [hora_alternativa]?\"\nvalidacion = validarHorario(mañana14:00)\nSI no es válido:\n\"❌ [motivo horario]\"\nSI falta email:\n\"Para agendar necesito tu email para enviarte la confirmación\"\ncrear_evento con formato obligatorio\n\"✅ Cita agendada para mañana 2:00 PM. Confirmación enviada a tu email [email usuario].\"\n\n## LÓGICA AUTOMÁTICA DE TIPO DE CITA\n\n**PROCESO DETERMINISTA** (sin preguntar):\n1. Extraer \"Ubicación:\" del prompt recibido\n2. Extraer \"Objetivo:\" como motivo de la cita\n3. **SI Ubicación contiene \"SALTA\"**: \n   - tipo = \"Visita presencial\"\n   - Incluir sucursal en evento\n4. **SI NO contiene \"SALTA\"**: \n   - tipo = \"Llamada\"\n   - NO incluir sucursal\n\n**NUNCA** preguntar tipo de cita. Decidir automáticamente según ubicación.\n\n## VALIDACIÓN DE HORARIOS\n\n### Función de Validación (aplicar antes de crear/modificar eventos):\n```javascript\nfunction validarHorario(fechaHora) {\n  const fecha = new Date(fechaHora);\n  const ahora = new Date();\n  const diaSemana = fecha.getDay(); // 0=domingo, 1=lunes, ..., 6=sábado\n  const hora = fecha.getHours();\n  const minutos = fecha.getMinutes();\n  const horaDecimal = hora + (minutos / 60);\n\n//validacion de horario anterior\n  if (fecha <= ahora) {\n          return { valido: false, motivo: \"No se pueden agendar citas en horarios pasados\" };\n  }\n  \n  // Domingo - NO permitido\n  if (diaSemana === 0) {\n    return { valido: false, motivo: \"Nuestro horario es únicamente de Lunes a Viernes de 09:00 a 18:00 y sábados de 09:00 a 13:00\" };\n  }\n  \n  // Lunes a Viernes (1-5): 9:00 AM - 6:00 PM\n  if (diaSemana >= 1 && diaSemana <= 5) {\n    if (horaDecimal < 9 || horaDecimal >= 18) {\n      return { valido: false, motivo: \"Horario L-V permitido: 9:00 AM - 6:00 PM\" };\n    }\n    return { valido: true };\n  }\n  \n  // Sábado (6): 9:00 AM - 1:00 PM\n  if (diaSemana === 6) {\n    if (horaDecimal < 9 || horaDecimal >= 13) {\n      return { valido: false, motivo: \"Horario sábados permitido: 9:00 AM - 1:00 PM\" };\n    }\n    return { valido: true };\n  }\n  \n  return { valido: false, motivo: \"Horario no válido\" };\n}\n\n## VALIDACIONES CRÍTICAS\n\n### Antes de Crear Eventos\n1. **VERIFICAR**: ¿Se solicitó el email del usuario?\n2. **VERIFICAR**: ¿El email tiene formato válido?\n3. **OBLIGATORIO**: Email como invitado en el evento\n4. **SOLO entonces** proceder con la creación\n\n### Antes de CUALQUIER Respuesta sobre Eventos\n1. **VERIFICAR**: ¿El evento contiene el teléfono del usuario?\n2. **VERIFICAR**: ¿El evento está activo (status !== 'cancelled')?\n3. **SOLO entonces** incluir en la respuesta\n\n### Ejemplos de Filtrado Correcto\n\n**CORRECTO** ✅:\n```\nUsuario +5493814688788 pregunta: \"¿qué citas tengo?\"\n1. Obtener todos los eventos del período\n2. Filtrar: eventos que contengan \"+5493814688788\" Y status !== 'cancelled'\n3. Mostrar SOLO eventos que pasan el filtro\n4. Si no hay eventos filtrados: \"No tienes citas programadas\"\n```\n\n**INCORRECTO** ❌:\n```\n1. Obtener todos los eventos\n2. Mostrar todos los eventos (SIN FILTRAR)\n```\n\n## RESPUESTAS ESTANDARIZADAS\n\n### Para Consultas\n- **Con resultados**: \"📅 Tus citas próximas:\\n[Lista solo eventos del usuario]\"\n- **Sin resultados**: \"📅 No tienes citas programadas para este período\"\n- **Error**: \"❌ No pude consultar tu agenda. Intenta nuevamente.\"\n\n### Para Creación\n- **Éxito**: \"✅ Cita agendada [fecha] [hora]. Confirmación en [email]\"\n- **Conflicto**: \"❌ Horario ocupado. ¿Prefieres [alternativa1] o [alternativa2]?\"\n- **Falta email**: \"Para agendar necesito tu email para enviarte la confirmación.    ¿Cuál es tu email?\"\n\n### Para Modificación\n- **Éxito**: \"✅ Cita modificada correctamente\"\n- **No encontrada**: \"❌ No encontré esa cita en tu agenda\"\n\n## SEGURIDAD Y PRIVACIDAD\n\n1. **NUNCA** mostrar eventos de otros usuarios\n2. **NUNCA** mostrar números de teléfono en las respuestas\n3. **SIEMPRE** verificar propiedad antes de modificar/eliminar\n4. **SOLO** trabajar con eventos del usuario actual\n\n## DEBUGGING INTERNO\n\nPara verificar que el filtrado funciona:\n1. Contar eventos totales obtenidos\n2. Aplicar filtro por teléfono\n3. Contar eventos después del filtro\n4. Si hay discrepancia, revisar el proceso\n\n## EJEMPLO COMPLETO:\n```\nUsuario: \"¿tengo citas mañana?\"\n\n1. telefonoActual = \"{{ $('switch_entrada').item.json.userContext.telefono_origen }}\"\n2. eventos = buscar_mis_citas(mañanaInicio, mañanaFin, telefonoActual)\n3. eventosMios = eventos.filter(e => \n     e.status !== 'cancelled' && \n     (e.description.includes(telefonoActual) || \n      e.extendedProperties?.private?.whatsapp_phone === telefonoActual)\n   )\n4. SI eventosMios.length > 0:\n     Mostrar eventosMios\n   SINO:\n     \"No tienes citas programadas para mañana\"\n```\n\n**RECUERDA**: El teléfono del usuario es {{ $('switch_entrada').item.json.userContext.telefono_origen }} - úsalo SIEMPRE para filtrar.\n\n## REGLAS ADICIONALES DE IMPLEMENTACIÓN\n\n### Al consultar eventos:\n1. **SIEMPRE** usar un rango de fechas amplio (30-50 eventos de límite)\n2. **INMEDIATAMENTE** después filtrar por teléfono del usuario\n3. **NO** mostrar eventos que no pasen el filtro\n\n### Detección de parámetros del usuario:\n- Extraer el teléfono de la variable del workflow\n- Usarlo como clave única para filtrado\n- Mantener consistencia en el formato\n\n### Manejo de errores:\n- Si no se puede extraer el teléfono: solicitar al usuario que reinicie\n- Si no hay conexión con calendar: informar error temporal\n- Si hay conflictos de horario: sugerir alternativas"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-3520,2608],"id":"9f2d660a-c6fe-4d56-a498-fc7745f94c62","name":"agente de agendamiento","disabled":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_fc2f75e573a3adbe3d648dfb46e59e60356fdbfc70a6a94cf083759fcd116fb3@group.calendar.google.com","mode":"list","cachedResultName":"AGN Hyundai"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{"query":"={{ $fromAI('Query', ``, 'string') }}"}},"id":"c185b53c-ce8e-4852-af57-b855fb50d57f","name":"buscar_mis_citas","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-3376,2800],"disabled":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_fc2f75e573a3adbe3d648dfb46e59e60356fdbfc70a6a94cf083759fcd116fb3@group.calendar.google.com","mode":"list","cachedResultName":"AGN Hyundai"},"limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"id":"5ca366dc-1f6b-4890-8549-2f0500e75920","name":"verificar_disponibilidad","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-3248,2800],"disabled":true},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-7440,1056],"id":"4f7a4c45-3a8c-44f0-ac1f-c58f26a988c1","name":"WhatsApp Trigger2","webhookId":"52df0017-207e-443d-87c6-5db2e06e9eeb","disabled":true},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-7232,736],"id":"138a13a0-69c8-4099-8a70-2f09b48d1519","name":"WhatsApp Trigger","webhookId":"f17cfe7c-bcac-49af-b23d-ec21752d5366"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('switch_entrada').item.json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-3520,1088],"id":"b18bce28-1ec1-4276-8ab3-716dc2812d02","name":"memory-chat"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2448,1328],"id":"609dab42-1335-4aea-846d-48eee24bc913","name":"OpenAI Chat Model"},{"parameters":{"operation":"send","phoneNumberId":"839832645884033","recipientPhoneNumber":"={{ $('switch_entrada').item.json.userContext.telefono_origen }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-816,1264],"id":"d5b5a7e5-cfcd-4203-abc0-93620985b6eb","name":"Send message3","webhookId":"e04e1597-06bd-46e6-863a-67f0e5ab2aba","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"send","phoneNumberId":"839832645884033","recipientPhoneNumber":"={{ $('switch_entrada').item.json.userContext.telefono_origen.replace(/^549/, '54') }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-256,800],"id":"9170c5a9-a18d-4458-a295-9f364a518a97","name":"Send message","webhookId":"a09b2dbc-a600-4646-ab54-d52291217b61"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b9d828a-6a2a-46ed-820d-486470bef545","leftValue":"={{ $json.messages[0].type === 'reaction' }}","rightValue":"= reaction","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6720,640],"id":"cc275668-9085-4b19-b7d1-212e7feeb67c","name":"is_reaction?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6528,288],"id":"56e1030c-bbff-4398-96c9-e3897a355542","name":"No Operation, do nothing5"}],"connections":{"getUsedPrice":{"ai_tool":[[{"node":"ai-para-anthropic_v1.4","type":"ai_tool","index":0}]]},"getStock":{"ai_tool":[[{"node":"ai-para-anthropic_v1.4","type":"ai_tool","index":0}]]},"getPlanes":{"ai_tool":[[{"node":"ai-para-anthropic_v1.4","type":"ai_tool","index":0}]]},"ficha_tecnica":{"ai_tool":[[{"node":"ai-para-anthropic_v1.4","type":"ai_tool","index":0}]]},"ventajas":{"ai_tool":[[{"node":"ai-para-anthropic_v1.4","type":"ai_tool","index":0}]]},"Personal":{"ai_tool":[[{"node":"ai-para-anthropic_v1.4","type":"ai_tool","index":0}]]},"tool-imagen":{"ai_tool":[[{"node":"ai-para-anthropic_v1.4","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"formatera chat input","type":"main","index":0}]]},"switch_entrada":{"main":[[{"node":"ai-para-anthropic_v1.4","type":"main","index":0}],[{"node":"ai-para-anthropic_v1.4","type":"main","index":0}]]},"switch_salida":{"main":[[{"node":"chat-processor","type":"main","index":0}],[{"node":"whatsapp-processor","type":"main","index":0}],[{"node":"whatsapp-processor","type":"main","index":0}]]},"chat-processor":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"tool-video":{"ai_tool":[[{"node":"ai-para-anthropic_v1.4","type":"ai_tool","index":0}]]},"Formatear Whatsapp input":{"main":[[{"node":"switch_entrada","type":"main","index":0}]]},"formatera chat input":{"main":[[{"node":"switch_entrada","type":"main","index":0}]]},"whatsapp-processor":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"send_pdf_tool":{"ai_tool":[[{"node":"ai-para-anthropic_v1.4","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"ai-para-anthropic_v1.4","type":"ai_languageModel","index":0}]]},"Wait":{"main":[[{"node":"switch_salida","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"redis_recupera_cola","type":"main","index":0}]]},"redis-cola-mensajes":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"une_mensajes":{"main":[[{"node":"une_data_wpp","type":"main","index":0}]]},"redis_recupera_cola":{"main":[[{"node":"If_cola_fin","type":"main","index":0}]]},"If_cola_fin":{"main":[[{"node":"une_mensajes","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"une_data_wpp":{"main":[[{"node":"limpiar-cola","type":"main","index":0}]]},"limpiar-cola":{"main":[[{"node":"Get Memory","type":"main","index":0}]]},"If1":{"main":[[{"node":"is_reaction?","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"send_disclaimer":{"ai_tool":[[{"node":"ai-para-anthropic_v1.4","type":"ai_tool","index":0}]]},"Get Memory":{"main":[[{"node":"Check Memory Exists","type":"main","index":0}]]},"une_memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"Check Memory Exists":{"main":[[{"node":"une_memory","type":"main","index":0}],[{"node":"Create Default Memory","type":"main","index":0}]]},"Create Default Memory":{"main":[[{"node":"Formatear Whatsapp input","type":"main","index":0}]]},"ai-para-anthropic_v1.4":{"main":[[{"node":"Wait","type":"main","index":0}]]},"fallback_model":{"ai_languageModel":[[{"node":"ai-para-anthropic_v1.4","type":"ai_languageModel","index":1}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"ai-para-anthropic_v1.4","type":"ai_outputParser","index":0}]]},"prepareDBdata":{"main":[[{"node":"grabar_si_no","type":"main","index":0},{"node":"etapa_cierre?","type":"main","index":0}]]},"grabar_si_no":{"main":[[{"node":"post_registro_nuevo","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"post_registro_nuevo":{"main":[[{"node":"dbSuccessLog","type":"main","index":0}]]},"login_cloudy":{"main":[[{"node":"get-lead-by-cel-marca","type":"main","index":0}]]},"pre-carga-oportunidad":{"main":[[{"node":"modifica-body","type":"main","index":0}]]},"modifica-body":{"main":[[{"node":"crear-nueva-oportunidad","type":"main","index":0}]]},"resumen_lead":{"main":[[{"node":"limpia_data","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"limpia_data":{"main":[[{"node":"login_cloudy","type":"main","index":0}]]},"etapa_cierre?":{"main":[[{"node":"resumen_lead","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"get-lead-by-cel-marca":{"main":[[{"node":"existe-led?","type":"main","index":0}]]},"existe-led?":{"main":[[{"node":"get-lead-by-doc_id","type":"main","index":0}],[{"node":"pre-carga-oportunidad","type":"main","index":0}]]},"get-lead-by-doc_id":{"main":[[{"node":"edita-body","type":"main","index":0}]]},"edita-body":{"main":[[{"node":"crear-nueva-oportunidad","type":"main","index":0}]]},"openai-para-agenda":{"ai_languageModel":[[{"node":"agente de agendamiento","type":"ai_languageModel","index":0}]]},"agenda-manager":{"ai_tool":[[{"node":"agente de agendamiento","type":"ai_tool","index":0}]]},"buscar_mis_citas":{"ai_tool":[[{"node":"agente de agendamiento","type":"ai_tool","index":0}]]},"verificar_disponibilidad":{"ai_tool":[[{"node":"agente de agendamiento","type":"ai_tool","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If1","type":"main","index":0}]]},"memory-chat":{"ai_memory":[[{"node":"ai-para-anthropic_v1.4","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Send message":{"main":[[{"node":"prepareDBdata","type":"main","index":0}]]},"is_reaction?":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"redis-cola-mensajes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2e390020-98c5-43bd-8abd-48987a7b9102","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-03T16:39:28.318Z","createdAt":"2025-12-03T16:39:28.318Z","role":"workflow:owner","workflowId":"HRS4fYo4QRvygvOM","projectId":"taaTHKhFzIiCjuRx"}],"activeVersion":null,"tags":[{"updatedAt":"2025-11-04T18:32:17.286Z","createdAt":"2025-11-04T18:32:17.286Z","id":"MRsQD3Yje2MJKwEC","name":"AGN Hyundai"},{"updatedAt":"2025-11-04T18:32:17.278Z","createdAt":"2025-11-04T18:32:17.278Z","id":"MaHQZEWXj6ezMsZi","name":"Stage"}]}