backup_to_github-3TPXOXtbv120Dt5R.json
{"updatedAt":"2026-03-02T15:25:50.842Z","createdAt":"2026-02-28T14:41:20.350Z","id":"3TPXOXtbv120Dt5R","name":"backup_to_github","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"108ede05-55bd-4bae-9df9-6fe093355c99","name":"trigger_programado"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{$json[\"owner_name\"]}}","mode":"name"},"repository":{"__rl":true,"value":"={{$json[\"repository_name\"]}}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[416,0],"id":"6e043c51-c32f-4238-95ee-260c7762a48b","name":"List files","webhookId":"d897773e-81c5-4aec-8ee3-a43471703526","credentials":{"githubApi":{"id":"sSgEjWI0VBryJbjD","name":"gitHub-account-fer"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[624,0],"id":"36c2ccfe-6b6b-483f-b3a8-cb8428bf19f4","name":"genera_lista_nombres"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[832,0],"id":"ac196d04-c236-48d7-8e74-7ec33bfb51b3","name":"get-all-workflows","credentials":{"n8nApi":{"id":"4W9mcukjJ4HbPCcD","name":"n8n-credential-fer"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ca0ce29e-57ab-4e97-b724-4a833bdb6fb5","leftValue":"={{ $json.isArchived }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[1040,0],"id":"a0caf690-9c56-4ffc-8237-5314a5ed8a21","name":"filtrar-borrados"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1552,-16],"id":"8c99f90b-847e-4d02-a5d2-48cc7637c197","name":"Loop Over Items"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1248,0],"id":"d9d128d1-0af4-4541-8eaa-13a81504de27","name":"Convert to File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d5686748-acf0-4b15-9bbc-0c82d5b2775c","leftValue":"={{ $('genera_lista_nombres').item.json.name }}","rightValue":"={{ $json.file_name }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2256,0],"id":"71db85fa-cd70-480c-87d9-9f4f80328446","name":"existe?"},{"parameters":{"assignments":{"assignments":[{"id":"ec8902f7-4d55-42b5-a590-37aba563de01","name":"repository_name","value":"n8n_fer_hostinger","type":"string"},{"id":"af8f48e9-28f3-4029-bd12-eebf49902afa","name":"owner_name","value":"FSALVA157","type":"string"},{"id":"e15f579c-c080-40e6-89b1-1b0318b0f834","name":"commit_date","value":"={{ (() => {   const now = new Date();   const day = String(now.getDate()).padStart(2, '0');   const month = String(now.getMonth() + 1).padStart(2, '0');   const year = now.getFullYear();   const hours = String(now.getHours()).padStart(2, '0');   const minutes = String(now.getMinutes()).padStart(2, '0');   return `${day}-${month}-${year}/${hours}:${minutes}`; })() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"f1a06746-5716-4691-a218-0275f7204e0f","name":"set-data-github"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('set-data-github').item.json.owner_name }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('set-data-github').item.json.repository_name }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('set-data-github').item.json.commit_date }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2464,80],"id":"84f9e76a-97cd-4789-a1bd-4018be0542bd","name":"crea_rarchivo","webhookId":"02415d88-54f5-48b2-a47b-8907f9757f1d","credentials":{"githubApi":{"id":"sSgEjWI0VBryJbjD","name":"gitHub-account-fer"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('set-data-github').item.json.owner_name }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('set-data-github').item.json.repository_name }}","mode":"name"},"filePath":"={{ $('extrae_nombre').item.json.file_name }}","binaryData":true,"binaryPropertyName":"={{$('Loop Over Items').item.binary.data  }}","commitMessage":"={{ $('set-data-github').item.json.commit_date }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1920,-240],"id":"1399813b-baf9-4185-baad-9e4df4d8e0e8","name":"edita_archivo","webhookId":"02415d88-54f5-48b2-a47b-8907f9757f1d","credentials":{"githubApi":{"id":"sSgEjWI0VBryJbjD","name":"gitHub-account-fer"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2832,-32],"id":"ee939e8c-8bfa-4c0e-a3fb-9b56cf0e2675","name":"No Operation, do nothing"},{"parameters":{"content":"# FLUJO DE BACKUP A GITHUB","height":976,"width":2976,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1440,-288],"typeVersion":1,"id":"0607c183-c113-4df6-bd2a-d0533934244a","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"6d1a9efd-f9f7-4269-8a82-df6c9468ab5c","name":"file_name","value":"={{ $binary.data.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,-16],"id":"62209ca0-5f00-4972-be9c-2cc2ee5d2c04","name":"extrae_nombre"}],"connections":{"trigger_programado":{"main":[[{"node":"set-data-github","type":"main","index":0}]]},"List files":{"main":[[{"node":"genera_lista_nombres","type":"main","index":0}]]},"genera_lista_nombres":{"main":[[{"node":"get-all-workflows","type":"main","index":0}]]},"get-all-workflows":{"main":[[{"node":"filtrar-borrados","type":"main","index":0}]]},"filtrar-borrados":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"extrae_nombre","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"existe?":{"main":[[{"node":"edita_archivo","type":"main","index":0}],[{"node":"crea_rarchivo","type":"main","index":0}]]},"set-data-github":{"main":[[{"node":"List files","type":"main","index":0}]]},"crea_rarchivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"edita_archivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"extrae_nombre":{"main":[[{"node":"existe?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:trigger_programado":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1a9f9692-b817-4bfd-ad6d-dea51b20cbad","activeVersionId":"1a9f9692-b817-4bfd-ad6d-dea51b20cbad","triggerCount":1,"shared":[{"updatedAt":"2026-02-28T14:41:20.354Z","createdAt":"2026-02-28T14:41:20.354Z","role":"workflow:owner","workflowId":"3TPXOXtbv120Dt5R","projectId":"taaTHKhFzIiCjuRx"}],"activeVersion":{"updatedAt":"2026-03-02T15:26:11.000Z","createdAt":"2026-03-02T15:25:50.843Z","versionId":"1a9f9692-b817-4bfd-ad6d-dea51b20cbad","workflowId":"3TPXOXtbv120Dt5R","nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"108ede05-55bd-4bae-9df9-6fe093355c99","name":"trigger_programado"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{$json[\"owner_name\"]}}","mode":"name"},"repository":{"__rl":true,"value":"={{$json[\"repository_name\"]}}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[416,0],"id":"6e043c51-c32f-4238-95ee-260c7762a48b","name":"List files","webhookId":"d897773e-81c5-4aec-8ee3-a43471703526","credentials":{"githubApi":{"id":"sSgEjWI0VBryJbjD","name":"gitHub-account-fer"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[624,0],"id":"36c2ccfe-6b6b-483f-b3a8-cb8428bf19f4","name":"genera_lista_nombres"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[832,0],"id":"ac196d04-c236-48d7-8e74-7ec33bfb51b3","name":"get-all-workflows","credentials":{"n8nApi":{"id":"4W9mcukjJ4HbPCcD","name":"n8n-credential-fer"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ca0ce29e-57ab-4e97-b724-4a833bdb6fb5","leftValue":"={{ $json.isArchived }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[1040,0],"id":"a0caf690-9c56-4ffc-8237-5314a5ed8a21","name":"filtrar-borrados"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1552,-16],"id":"8c99f90b-847e-4d02-a5d2-48cc7637c197","name":"Loop Over Items"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1248,0],"id":"d9d128d1-0af4-4541-8eaa-13a81504de27","name":"Convert to File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d5686748-acf0-4b15-9bbc-0c82d5b2775c","leftValue":"={{ $('genera_lista_nombres').item.json.name }}","rightValue":"={{ $json.file_name }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2256,0],"id":"71db85fa-cd70-480c-87d9-9f4f80328446","name":"existe?"},{"parameters":{"assignments":{"assignments":[{"id":"ec8902f7-4d55-42b5-a590-37aba563de01","name":"repository_name","value":"n8n_fer_hostinger","type":"string"},{"id":"af8f48e9-28f3-4029-bd12-eebf49902afa","name":"owner_name","value":"FSALVA157","type":"string"},{"id":"e15f579c-c080-40e6-89b1-1b0318b0f834","name":"commit_date","value":"={{ (() => {   const now = new Date();   const day = String(now.getDate()).padStart(2, '0');   const month = String(now.getMonth() + 1).padStart(2, '0');   const year = now.getFullYear();   const hours = String(now.getHours()).padStart(2, '0');   const minutes = String(now.getMinutes()).padStart(2, '0');   return `${day}-${month}-${year}/${hours}:${minutes}`; })() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"f1a06746-5716-4691-a218-0275f7204e0f","name":"set-data-github"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('set-data-github').item.json.owner_name }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('set-data-github').item.json.repository_name }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('set-data-github').item.json.commit_date }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2464,80],"id":"84f9e76a-97cd-4789-a1bd-4018be0542bd","name":"crea_rarchivo","webhookId":"02415d88-54f5-48b2-a47b-8907f9757f1d","credentials":{"githubApi":{"id":"sSgEjWI0VBryJbjD","name":"gitHub-account-fer"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('set-data-github').item.json.owner_name }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('set-data-github').item.json.repository_name }}","mode":"name"},"filePath":"={{ $('extrae_nombre').item.json.file_name }}","binaryData":true,"binaryPropertyName":"={{$('Loop Over Items').item.binary.data  }}","commitMessage":"={{ $('set-data-github').item.json.commit_date }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1920,-240],"id":"1399813b-baf9-4185-baad-9e4df4d8e0e8","name":"edita_archivo","webhookId":"02415d88-54f5-48b2-a47b-8907f9757f1d","credentials":{"githubApi":{"id":"sSgEjWI0VBryJbjD","name":"gitHub-account-fer"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2832,-32],"id":"ee939e8c-8bfa-4c0e-a3fb-9b56cf0e2675","name":"No Operation, do nothing"},{"parameters":{"content":"# FLUJO DE BACKUP A GITHUB","height":976,"width":2976,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1440,-288],"typeVersion":1,"id":"0607c183-c113-4df6-bd2a-d0533934244a","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"6d1a9efd-f9f7-4269-8a82-df6c9468ab5c","name":"file_name","value":"={{ $binary.data.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,-16],"id":"62209ca0-5f00-4972-be9c-2cc2ee5d2c04","name":"extrae_nombre"}],"connections":{"trigger_programado":{"main":[[{"node":"set-data-github","type":"main","index":0}]]},"List files":{"main":[[{"node":"genera_lista_nombres","type":"main","index":0}]]},"genera_lista_nombres":{"main":[[{"node":"get-all-workflows","type":"main","index":0}]]},"get-all-workflows":{"main":[[{"node":"filtrar-borrados","type":"main","index":0}]]},"filtrar-borrados":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"extrae_nombre","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"existe?":{"main":[[{"node":"edita_archivo","type":"main","index":0}],[{"node":"crea_rarchivo","type":"main","index":0}]]},"set-data-github":{"main":[[{"node":"List files","type":"main","index":0}]]},"crea_rarchivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"edita_archivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"extrae_nombre":{"main":[[{"node":"existe?","type":"main","index":0}]]}},"authors":"Fernando Javier Salva","name":"Version 1.1","description":"","autosaved":true},"tags":[]}